@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* hr {
    height: 100%;
    width: 1px;
    border-left: 1px solid orange;
    display: inline-block;
} */

body {
  color: #3F3F3F;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 18px;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
}

.align-items-center {
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}

.background-historia-col{
  background-image: url('/assets/img/maquina-2002.png');
  background-repeat: no-repeat, repeat;
  background-position: 53% 21%;
}

.background-historia2-col{
  background-image: url('/assets/img/maquina.png');
  background-repeat: no-repeat, repeat;
  background-position: 22% 70%;
}

.btn-tiempo-historia{
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.container {
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contenedor-naranja-f{
  background-color: #fb9200;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contenedor-azules-historia{
  padding-left: 1.4%;
  width: 100.9%;
}

.fondo-azul-card-h{
  background-color: #a0d4f1;
}

.fondo-azulf-card-h{
  background-color: #002C54;
}

.d-flex {
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
}

.d-none {
  display: none!important;
}

.justify-content-between {
  -webkit-box-pack: justify!important;
  -webkit-justify-content: space-between!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.img-fluid {
  height: auto;
  width: 100%;
}

.img-medalla{
  width: 6%;
}
.img-medalla-space{
  letter-spacing: 20px;
}

.img-medalla-grande{
  width: 40%;
}

.linea-naranja{
  margin-left: 50%;
  height: 70px;
  border-left: 3px solid #FFA10E;
}

.linea-azul{
  margin-left: 50%;
  height: 70px;
  border-left: 3px solid #002C54;
}

.ml-auto {
  margin-left: auto;
}

.m-right-15 {
  margin-right: 15px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify!important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-historia-t{
  font-weight: bold;
  font-size: 2.1rem;
}
.text-historia-sub{
  font-weight: bold;
  font-size: 1.5rem;
}

.text-historia-gl{
  font-size: 0.89rem;
}

.text-historia-card-azules{
  font-size: 0.8rem;
}

.text-h-card-a-title{
  font-size: 3rem;
  font-weight: bold;
}

.text-first-historia{
  font-size: 0.85rem;
}

.text-first-historia2{
  font-size: 0.82rem;
}

.space-historia-text{
  line-height: .2;
}

.space-card-margin-item{
  line-height: .5;
  margin-left: 40%;
}

.space-card-margin{
  border-bottom: 2px solid white;
  width: 80%;
  line-height: .3;
  margin-left: 9%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row::after {
  clear: both;
}

.row::before,
.row::after {
  content: " ";
  display: table;
}

ul {
  margin: 0;
  padding: 0;
}

/* Colores */

.bg-manchego {
  background-color: #E2485F;
}

.bg-cheddar {
  background-color: #FBA400;
}

.bg-giftpack {
  background-color: #002654;
}

.azul {
  background-color: #002C54;
}

.bg-panela {
  background-color: #8BC7E9;
}

.bg-awards {
  background-color: #FCA311;
}

.bg-awards-medals {
  background-color: #FB9200;
}

/* Textos */

.text-amarillo {
  color: #F5A623;
}

.text-manchego {
  color: #E2485F;
}

.text-cheddar {
  color: #FBA400;
}

.text-panela {
  color: #8BC7E9;
}

.text-giftpack {
  color: #002654;
}

.text-azul {
  color: #002C54;
}

.text-white {
  color: white;
}

.text-gris {
  color: #CCCCCC;
}

/* Estilos */

img {
  max-width: 100%;
}

img {
  vertical-align: middle;
  border-style: none;
}

.art-card {
  min-height: 350px;
}

.art-card_subsubtitle {
  font-size: .9rem;
}

.art-card_subsubtitle h2 {
  color: #2B221D;
  font-size: 1.4rem;
}

.button-art a {
  color: #FFAD2C;
  font-size: .9rem;
  text-decoration: underline;
}

.btn-block {
  display: block;
  width: 100%;
}

.button-menu button.contacto {
    font-size: .88rem;
    padding: 8px 70px;
    text-align: center;
    font-weight: bold;
}

.btn, .btn-md {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.button-menu button {
  border: none;
  color: white;
  font-family: "Roboto";
  font-size: 80px;
  font-weight: bold;
  padding: 10px 70px;
  text-transform: uppercase;
  text-align: left;
  line-height: 125px;
}

.button-paginator {
  border: none;
  color: white;

  font-family: "Roboto";
  font-size: 60px;
  font-weight: bold;
  height: 148px;
  padding: 35px 70px;
  text-transform: uppercase;
  text-align: left;
  line-height: 70px;
}

.content-art.wellness {
  height: 150px;
  border-top: 10px solid #FF9B00;
}

.contain-menu-left {
  width: 33.5vw;
  height: 89vh;
  max-height: 89vh;
}

.composicion-table {
  width: 494px;
  text-align: center;
}

.composicion-table-information {
  border: 2px solid #002C54;
  color: #002C54;
  margin: auto;
  text-align: left;
  width: 390.6px;
}

.composicion-table-information th {
  border: 2px solid #002C54;
  color: white;
  font-size: 28.8px;
  font-weight: bold;
  line-height: 34px;
  height: 63.6px;
  text-align: center;
}

.text-info-leche td {
  font-size: 18px;
  font-weight: bold;
}

.composicion-table-information td {
  font-weight: bold;
  padding: 2px 8px;
}

.composicion-table th {
  border: 2px solid;
  color: white;
  font-size: 16px;
  line-height: 19px;
  padding: 15px;
}

.composicion-table td {
  border: 2px solid;
  padding: 15px;
}

.container-leche-info div {
  padding: 10px;
}

.content-recetas img {
  width: 80%
}

.content-print {
  display: inline-flex;
}

.content-print button img {
  display: inline-flex;
  width: 85%!important;
}

.content-recetas p {
  font-size: .8rem;
}

.content-recetas span {
  font-size: .9rem;
  padding-top: 8px;
}

.subsub_title-recetagr h2 {
  color: #FFA10E;
  font-size: 3rem;
  margin: 0;
  line-height: 1;
}

footer.footer6 {
  color: white;
  position: relative;
  overflow: hidden;
  padding-top: 2.33333rem;
}

footer .footer__big {
  padding: 40px 0 20px;
}

footer .footer__big .text_widget .footer_logo {
  height: 40px;
  margin-bottom: 30px;
  width: 167px;
}

footer .footer__big .text_widget div a button {
  border: none;
  border-radius: 100%;
  color: #002C54;
  cursor: pointer;
  font-size: 1.8rem;
  height: 45px;
  margin-left: 30px;
  outline: none;
  padding: 3px;
  width: 45px
}
footer .footer__big .widget ul.links li,
footer .footer__big .text_widget div a {
  line-height: 30px;
}

footer .footer__big .widget ul.links li a {
  color: white;
}

footer.footer6 .footer__bottom .container,
footer.footer6 .footer__big .container {
  width: 75%;
}

footer .footer__bottom .footer__bottom-content {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 2.33333rem 0;
}

footer .footer__bottom .footer__bottom-content .social-basic li a {
  color: white;
}

.footer_media a img {
  margin-left: 15px;
  height: 30px;
  width: 30px;
}

.filter-select {
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 6px;
  width: 20px;
}

.form-control {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.home {
  height: 100vh;
  padding-top: 95px;
  max-height: 100vh;
  overflow: hidden;
}

.intro-area-two {
  background-color: #002C54;
  position: fixed;
  height: 95px;
  width: 100%;
  z-index: 10;
}

.intro-area-two .menu_area.menu8 {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: 0 0;
}

.input-style{
  padding: 14px;
  display: block;
  border: none;
  border-bottom: 2px solid #555;
  width: 100%;
  outline: none;
}

label {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.list-menu {
  background-color: white;
  color: #002C54;
  font-size: 32px;
  font-weight: bold;
  min-height: 86vh;
  padding: 16px 60px;
  position: absolute;
  right: 0;
  top: 95px;
  z-index: 11
}

.list-menu ul li {
  line-height: 60px;
  list-style: none;
  text-transform: uppercase;
}

.list-menu ul {
  margin-top: .5em;
  margin-bottom: .5em;
}

.list-menu div a button {
  border: none;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 60px;
  margin-right: 15px;
  outline: none;
  width: 70px
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.menu_media a img {
  height: 50px;
  margin: 15px;
  width: 50px;
}

.menu_area {
  -webkit-box-shadow: 0.33333rem 0 1.33333rem rgba(87,87,87,.1);
  box-shadow: 0.33333rem 0 1.33333rem rgba(87,87,87,.1);
  position: relative;
}

.menu_area .navbar {
  padding: 0.35rem;
}

.media-art {
  width: 100%;
  height: 140px;
  overflow: hidden;
}


.owl-item .item .caption-description.recetas2.mariscos-title {
  bottom: 35px!important;
}

.number-tips {
  color: #ccc;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 800;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.3rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.5025rem;
  padding-bottom: 0.5025rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-toggler {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  color: #fff;
  line-height: 1;
  padding: .33333rem .66667rem;
  outline: none;
  -webkit-border-radius: .25rem;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item,
.owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

.paginator button {
  background-color: transparent;
  border: none;
  color: #929292;
  cursor: pointer;
}

.paginator button img {
  width: 15%;
  height: auto;
}

.page--content {
  min-height: 100vh;
  padding-top: 95px;
}

.p-top-10 {
  padding-top: 10px;
}

.p-top-20 {
  padding-top: 20px;
}

.p-top-30 {
  padding-top: 30px;
}

.p-bottom-70 {
  padding-bottom: 70px;
}

.p-bottom-30 {
  padding-bottom: 30px;
}

.p-top-70 {
  padding-top: 70px;
}

.presentaciones-queso h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-top: 0;
}

.presentaciones-queso p {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
}

.sub-text p {
  margin-top: 0;
  text-align-last: center;
}

.section_title h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-transform: uppercase;
}

.section_subtitle {
  padding-right: 40px;
}

.section_subtitle h2,
.section_title-awards h2 {
  font-size: 64px;;
  font-weight: bold;
  line-height: 61px;
  margin-top: 0;
  text-transform: uppercase;
}

.section_medals-awards h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin: 25px 0 35px;
}

.section_subsubtitle h2 {
  color: #002C54;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  margin-top: 0;
  text-transform: uppercase;
}

.section_subtitle-recetas h2 {
  font-size: 2.8rem;
  margin: 0;
}

.section_subtitle-recetas p {
  font-size: .7rem;
  color: #4F4F4F;
}

.search-form {
  position: relative;
  padding-top: 10px;
}

.search-form .search-field {
  padding-left: 50px;
  padding-right: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  border-color: #f2f2f2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background-color: #f2f2f2;
  outline: none;
}

.search-form .search-submit {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  height: auto;
  width: 66px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.topbar-slider #slider-thumbnail .item {
  position: relative;
}

.topbar-slider #slider-thumbnail .item img {
  display: block;
  width: 100%;
}

.owl-item .item .caption-description.recetas2 {
  padding: 40px 40px 60px;
}

.topbar-slider #slider-thumbnail .item-caption,
.owl-item .item .item-caption-quesos,
.owl-item .item .item-caption-recetas,
.owl-item .item .item-caption-recetas2 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(43,43,43,.8);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.topbar-slider #slider-thumbnail .item-caption {
  height: 568px;
}

.topbar-slider #slider-thumbnail .item-caption.petite-caption {
  height: 284px;
}

.tip-recetas p {
    font-size: 1rem;
    padding: 43% 0;
}

.owl-item .item .item-caption-quesos,
.owl-item .item .item-caption-recetas {
  height: 346px!important;
}

.owl-item .item .item-caption-recetas2 {
  height: 310px!important;
}

.topbar-slider #slider-thumbnail .item .caption-description {
  display: block;
  padding: 40px 30px;
  position: absolute;
  text-align: left;
}

.text-art-title {
  padding: 10px 0;
  text-transform: uppercase;
}

.tip-wellness {
  height: 350px;
  padding: 10px 10px;
}

.tip-wellness h2 {
  font-size: 3rem;
  padding: 10px;
  text-transform: uppercase;
}

.tip-wellness h2 img {
  padding-bottom: 5px;
  padding-right: 15px;
}

.tip-wellness p {
  font-size: .9rem;
  padding: 0 0 15px 0;
}

.tip-wellness button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px 30px;
  text-transform: uppercase;
  margin: 10px;
}

.owl-item .item .caption-description {
  bottom: 28%;
  display: block;
  padding: 40px 110px;
  position: absolute;
  width: 100%;
}

.topbar-slider #slider-thumbnail .item:hover .item-caption,
.owl-item .item:hover .item-caption-recetas,
.owl-item .item:hover .item-caption-recetas2 {
  background-color: #000000bd;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.text-contac-m {
  font-size: .87rem;
}

.title-contact-m{
  font-size: 2.9rem;
  letter-spacing: 1px;
}

.subtitle-contact-m{
  font-size: 1.3rem
}


.owl-item .item:hover .item-caption-quesos,
.item.homehovo:hover .item-caption {
  background-color: inherit;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -ms-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.topbar-slider #slider-thumbnail .item .caption-title,
.owl-item .item .caption-title {
  display: block;
}

.topbar-slider #slider-thumbnail .item .caption-title-link {
  color: #fff;
  display: block;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: bold;
  height: 100%;
  line-height: 57px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.owl-item .item .caption-title-text-cheese {
  color: #fff;
  display: block;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: bold;
  height: 100%;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.owl-title-item {
  width: 100%;
  height: 20px;
}

.owl-item.nQuesos {
  height: 346px;
}

.owl-item.nRecetas {
  height: 346px;
  overflow: hidden;
}

.owl-item.nRecetas2 {
  height: 310px;
  overflow: hidden;
}

.owl-item.nHome {
  width: 50%;
  height: 568px;
  overflow: hidden;
}

.owl-item.nHome2 {
  width: 100%;
  height: 281px;
  overflow: hidden;
}

.info-leche-conv {
  width: 71px;
  height: auto;
}

.info-leche-conh {
  width: 125px;
  height: auto;
}

.widget_search .search-form .search-field {
  border-color: #fff;
  background-color: #fff;
}

.item.cheddar:hover .item-caption-quesos {
  background-color: #FBA400;
}

.item.manchego:hover .item-caption-quesos {
  background-color: #E2485F;
}

.item.panela:hover .item-caption-quesos {
  background-color: #8BC7E9;
}

.item.adobera:hover .item-caption-quesos {
  background-color: #CD571D;
}

.item.qamarillo:hover .item-caption-quesos {
  background-color: #FBDD3D;
}

.item.oaxaca:hover .item-caption-quesos {
  background-color: #00A29B;
}

.item.parmesano:hover .item-caption-quesos {
  background-color: #A9AD00;
}

.item.crema:hover .item-caption-quesos {
  background-color: #8AC8EC;
}

.item.cabra:hover .item-caption-quesos {
  background-color: #5D6E7F;
}

.item.chihuahua:hover .item-caption-quesos {
  background-color: #B1A89C;
}

.item.gouda:hover .item-caption-quesos {
  background-color: #93999E;
}

.item.mozzarella:hover .item-caption-quesos {
  background-color: #4681CF;
}

.item.cheddaranejo:hover .item-caption-quesos {
  background-color: #878989;
}

.item.extraanejo:hover .item-caption-quesos {
  background-color: #9D7C36;
}

.item.cotija:hover .item-caption-quesos {
  background-color: #BC4E20;
}

.item.giftpack:hover .item-caption-quesos {
  background-color: #002654;
}

/* Select */

.linebajo{
  width: 80%;
  margin-left: 10%;
  }
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
  border-bottom: 1px solid #000;
  width: 35%;
}

.custom-select.custom2 {
  margin-left: auto;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: transparent;
}

/*style the arrow inside the select element:*/
/* .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
} */

/*point the arrow upwards when the select box is open (active):*/
/* .select-selected.select-arrow-active:after {
  border-color: transparent transparent #000 transparent;
  top: 7px;
} */

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #0000008f;
  padding: 8px 16px 8px 0;
  font-size: .9rem;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  background-color: #fff;
  top: 102%;
  left: 20px;
  right: 0;
  position: absolute;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 10px 30px rgba(41,41,59,.1);
  box-shadow: 0 10px 30px rgba(41,41,59,.1);
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  border: 2px solid black;
  border-color: transparent transparent rgba(0, 0, 0, 1) transparent;
}

/* Fin select */

/* Paginación */

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 5px 10px;
  font-size: .9rem;
  text-decoration: none;
  transition: background-color .3s;
}

.icon-paginator {
  width: 20%;
}

.pagination a.active {
  background-color: #ffc107;
  color: #000;
}

.disabled {
  pointer-events: none;
}

.pagination a:hover:not(.active) {background-color: transparent;}

/* Fin paginación */

@media only screen and (max-width: 991.98px) {
  body {
    font-size: 35px;
    line-height: 50px;
  }
  .button-art a {
    font-size: 3rem;
  }
  .button-menu button.contacto {
    font-size: 2.8rem;
    padding: 12px 70px;
    text-align: center;
    font-weight: bold;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .container-mobile {
    width: 100%;
  }
  .composicion-table,
  .composicion-table-information {
    width: 790px;
  }
  .composicion-table th {
    font-size: 32px;
  }
  .content-recetas span {
    font-size: 2rem!important;
    align-content: center;
    text-align: left;
  }
  .intro-area-two {
    height: 200px;
  }
  .owl-item .item.recetaIte2 .caption-description {
    bottom: 15%;
  }
  .owl-item .item.recetaIte.receto .caption-description {
    bottom: 15%;
}
  .content-recetas img {
    width: 50%!important;
  }
  .section_subtitle-tips h2,
  .composicion-table-information th {
    font-size: 50px;
    height: 140px;
    line-height: 40px;
  }
  .text-contac-m {
    font-size: 2.1rem;
  }
  .title-contact-m{
    font-size: 5.8rem;
    text-align: left;
  }
  .subtitle-contact-m{
    font-size: 3.5rem
  }
  .container-wellness-2 {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .content-art.wellness p {
    font-size: 2.8rem
  }
  .content-art.wellness {
    border-top: 30px solid #FF9B00;
  }
  .custom-select {
    width: 75%;
  }
  .custom-select.custom2 {
    margin-left: 0;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
  .error-mobile {
    padding-top: 50%;
  }
  .form-group {
    margin-top: .5em;
  }
  .form-control {
    height: 105px;
  }
  .filter-select {
    bottom: 0px;
    width: 50px;
  }
  footer.footer6 {
    padding-top: 0;
  }
  footer .footer__big {
    padding: 75px 0 20px;
    font-size: 40px;
  }
  footer .footer__big .widget--links .links {
    padding-left: 110px;
  }
  footer .footer__big .widget ul.links li, footer .footer__big .text_widget div a {
    line-height: 105px;
  }
  footer .footer__big .text_widget {
    padding-top: 5rem;
    text-align: center!important;
  }
  .footer_media a img {
    margin: 0 40px;
    height: 100px;
    width: 100px;
  }
  footer .footer__big .text_widget div {
    margin-top: 4rem;
  }
  footer .footer__big .text_widget .footer_logo2 {
    width: 417.5px;
    display: inline!important;
  }
  footer .footer__bottom .footer__bottom-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 150px;
  }
  .footer__bottom-content p {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5rem;
    margin-top: 6rem;
    text-align: center;
  }
  .footer__bottom-content .social-basic {
    font-size: 32.5px;
    line-height: 50px;
  }
  .info-leche-conv {
    width: 177px;
    height: auto;
  }
  .info-leche-conh {
    width: 250px;
    height: auto;
  }
  .input-style {
    padding: 24px;
    display: block;
    border: none;
    font-size: 2.5rem;
    outline: none;
    border-bottom: 4px solid #333;
    width: 100%;
  }
  .pagination a {
    padding: 10px 14px;
    font-size: 2.5rem;
  }
  .presentaciones-queso,
  .art-card_subsubtitle h2 {
    font-size: 3rem;
  }
  .search-form .search-field {
    border-radius: 100px;
    font-size: 40px;
    padding-left: 150px;
  }
  .list-menu {
    top: 200px;
    font-size: 60px;
    height: 88.8vh;
  }
  .list-menu ul li {
    line-height: 160px;
  }
  .menu_media a img {
    height: 100px;
    margin: 35px;
    width: 100px;
  }
  .menu_area .navbar {
    padding: 41px 0;
  }
  .media-art {
    height: 400px;
  }
  .art-card {
    margin-bottom: 70px;
    min-height: 950px;
  }
  .navbar .navbar-brand {
    width: 417.5px;
  }
  .owl-title-item {
    color: white;
    font-size: 60px;
    height: auto;
    line-height: 70px;
    padding: 33px 20px;
    text-transform: uppercase;
    width: 100%;
  }
  .owl-item.nQuesos,
  .owl-item.nHome {
    height: auto;
    display: flex;
  }
  .owl-item.nRecetas,
  .owl-item.nRecetas2 {
    height: 460px;
    display: flex;
  }
  .owl-item.nQuesos .item,
  .owl-item.nHome .item {
    width: 50%;
  }
  .owl-item.nRecetas .item,
  .owl-item.nRecetas2 .item.recetaIte2 {
    width: 100%;
  }
  .owl-item.nQuesos .item img,
  .owl-item.nRecetas .item img,
  .owl-item.nRecetas2 .item img {
    width: 100%;
    height: auto;
  }
  .owl-item .item:hover .item-caption-quesos {
    background-color: none;
  }
  .owl-item .item.recetaIte .caption-description,
  .owl-item .item.recetaIte2 .caption-description {
    bottom: 28%;
  }
  .owl-item .item .item-caption-recetas,
  .owl-item .item .item-caption-recetas2 {
    height: 460px!important;
  }
  .page--content {
    min-height: 100vh;
    padding-top: 200px;
  }
  .p-mobile-0 {
    padding-top: 0;
  }
  .paginator button.mobile-button {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    width: 70%;
  }
  .paginator button img {
    width: 100%;
    height: auto;
  }
  .presentaciones-queso h4,
  .section_medals-awards h4,
  .section_subsubtitle h2 {
    font-size: 60px;
    line-height: 70px;
  }
  .section_subtitle-recetas h2 {
    font-size: 5.8rem;
  }
  .section_subtitle-recetas p {
    font-size: 2rem;
  }
  .tip-wellness {
    height: auto;
  }
  .tip-wellness-content {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 70px;
  }
  .tip-wellness h2 {
    font-size: 5rem;
  }
  .tip-wellness h2 img {
    padding-bottom: 0;
    padding-right: 15px;
    width: 12%;
  }
  .tip-wellness button {
    border: 4px solid white;
    font-size: 3rem;
    padding: 25px 60px;
    margin: 70px;
  }
  .tip-wellness p {
    font-size: 2.1rem;
  }
  .number-tips {
    font-size: 2.5rem!important;
  }
  .presentaciones-queso p,
  .content-art p,
  .tips-content p {
    line-height: 47px;
  }
  .navbar-toggler {
    width: 100px;
  }
  .section_title h2,
  .section_subtitle h2 {
    font-size: 80px;
    line-height: 125px;
  }
  .section_subtitle {
    padding-right: 0;
    text-align: center;
  }
  .search-form .search-submit {
    font-size: 4rem;
    padding-left: 0;
    height: auto;
    width: 150px;
  }
  .search-form .search-submit img.rec {
    height: auto;
    width: 110px;
    padding-top: 0px;
  }
  .search-form .search-submit img {
    height: auto;
    margin-left: 25px;
    padding-top: 20px;
    width: 130px;
  }
  .text-quesos-mobile {
    padding-top: 20%;
    padding-bottom: 40%;
    text-align: left;
  }
  .text-quesos-mobile a {
    color: #FFAD2C;
    font-size: 35px;
    text-decoration: underline;
  }
  .text-info-leche td {
    font-size: 45px;
  }
  .section_title-awards {
    text-align: center;
  }
  .section_title-awards h2 {
    text-align: center;
    font-size: 5.5rem;
  }
  .select-items div, .select-selected {
    font-size: 2.5rem;
  }
  .text-art-title {
    padding: 30px 0;
    font-size: 2.5rem;
  }
  .w-100 {
    width: 100% !important;
  }
  .content-art.wellness {
    height: 500px;
  }
}
