<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chilaquiles</title>
    <link rel="icon" href="../assets/icon/favicon.ico">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu home-menu-n text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-white" href="../index.html">Inicio</a></li>
            <li><a class="text-white" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-white" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-white" href="../views/tips.html">Tips</a></li>
            <li><a class="text-white" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-white" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-white" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb-bco.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram-bco.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">
      <section class="p-top-70 p-mobile-0 d-sm-none">
        <div class="container d-sm-none">
          <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-right content-print">
              <button class="ml-auto tooltip" type="button" name="button">
                <img id="shareFacebook" onclick="showTooltip()" src="../assets/icon/icon-share.svg" alt="Share">
                <img id="shareFacebook2" onclick="closeTooltip()" src="../assets/icon/icon-share.svg" alt="Share" hidden>
                <div id="menuFacebook" class="tooltipFacebook tooltip-bottom" hidden>
                    <p class="m-0">Compartir</p>
                    <a target="_blank" href="#"><img style="margin: 8px 6px 0;" class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
                </div>
              </button>
              <button class="tooltip" type="button" name="button">
                <img src="../assets/icon/icon-print.svg" alt="print">
                <span class="tooltiptext tooltip-bottom">Imprimir</span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="p-top-30 p-bottom-30">
        <div class="container w-100">
          <div class="row">
            <div class="col-5 col-sm-12 p-bottom-30">
              <div class="row">
                <div class="col-12">
                  <img class="img-fluid" src="../assets/img/Rectangle 2.png" alt="chilaquiles">
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 tip-wellness-content d-sm-none">
                  <div class="container-fluid w-100">
                    <div class="row">
                      <div class="col-12 text-center bg-awards tip-wellness text-white">
                        <h2 class=""><img src="../assets/icon/icon-hand.svg" alt="hand"> TIP</h2>
                        <p>
                          El queso, por su alto porcentaje de proteínas, calcio y vitaminas se recomienda en la mayoría de las diestas.
                        </p>
                        <a href="../views/tips.html">
                          <button type="button" name="button">Más tips</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-7 col-sm-12 p-bottom-30">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12">
                    <div class="subsub_title-recetagr">
                      <h2 class="">Chilaquiles blancos y hashbrown</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 text-azul p-bottom-30 p-top-30 content-recetas">
                    <img src="../assets/icon/icon-chef-hat-color.svg" alt="sombrero">
                    <span class="blue">Fácil</span>
                    <img src="../assets/icon/icon-clock-blue.svg" alt="reloj">
                    <span class="blue">20 min</span>
                    <img src="../assets/icon/icon-people-blue.svg" alt="personas">
                    <span class="blue">6</span>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 content-print p-mobile-0 d-none d-sm-block">
                    <button class="tooltip" type="button" name="button">
                      <img id="shareFacebookm" onclick="showTooltipm()" src="../assets/icon/icon-share.svg" alt="Share">
                      <img id="shareFacebook2m" onclick="closeTooltipm()" src="../assets/icon/icon-share.svg" alt="Share" hidden>
                      <div id="menuFacebookm" class="tooltipFacebook tooltip-bottom" hidden>
                          <p class="m-0">Compartir</p>
                          <a target="_blank" href="#"><img style="margin: 8px 6px 0;" class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
                      </div>
                    </button>
                    <button class="tooltip" type="button" name="button">
                      <img class="img-fluid" src="../assets/icon/icon-print.svg" alt="Siguiente">
                      <span class="tooltiptext tooltip-bottom">Imprimir</span>
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <p class="">
                      Un desayuno rico y lleno de energía, fácil de preparar, con ingredientes que podemos encontrar en cualquier tiendita de la
                      esquina y le encantará a toda tu familia.
                    </p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 content_receta_detalle p-top-20">
                    <h2>INGREDIENTES</h2>
                    <p>350 grs de Queso Adobera</p>
                    <p>1 kg de tortillas</p>
                    <p>1 Cebolla chica</p>
                    <p>3 dientes de ajo</p>
                    <p>1 cda de orégano seco</p>
                    <p>50 grs de elote desgranado</p>
                    <p>2 Chiles serrano</p>
                    <p>1/2 de crema para batir</p>
                    <p>Aceite vegetalal gusto</p>
                    <p>Sal al gusto</p>
                    <h3>Guarnición</h3>
                    <p>1 Lechuga</p>
                    <p>2 Jitomates saladet</p>
                    <p>1/2 Cebolla morada</p>
                    <p>Aceite de olivo al gusto</p>
                    <p>6 Papa hashbrown</p>
                    <h2>PREPARACIÓN</h2>
                    <p>1. Cortar las orillas de las tortillas y cortar en cuadro de 3 x 3 cm. Dejar secar por lo menos 8 horas antes de prepararlos</p>
                    <p>2. Ya estando secos los cuadros de tortillas, freír en abundante aceite caliente hasta que estén crujientes. Dejar escurrir y agregar un poco de sal.</p>
                    <p class="mt-0">3. Picar finamente los dientes de ajo, la cebolla, los chiles serranos y el Queso Adobera, que también puede ser rallado. Reservar todo por separado.</p>
                    <p>4. En un sartén, poner a calentar un poco de aceite. Una vez que esté bien caliente, sofreír la cebolla hasta que este translúcida
                      Agregar el ajo y cocinar por un momento. Agregar el chile serrano, el orégano, los granos de elote y la crema. Mezclar bien y cocinar por 3 minútos más.
                      Agregar los totopos de tortilla y mezclar para que todos queden cubiertos por la salsa y cocinar por 3 minutos más. Agregar el Queso Adobera.
                      Rectificar el sazón, retirar del fuego y tapar para que se funda bien el Queso Adobera.</p>
                    <p>5. Lavar, desinfectar y estilar los vegetales de la guarnición. Trocear la lechuga, cortar en rodajas el jitomate y picar
                      la cebolla en tiras delgadas. Mezclar todos y bañar con un poco de aceite de oliva. Sazonar con Sal.</p>
                    <p>6. Poner a calentar en un sartén un poco de aceite vegetal y freír las papas hashbrown hasta dorar un poco.</p>
                    <p>7. Servir los chilaquiles calientes acompañados de papa hashbrown y ensañada.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="../index.html">Inicio</a>
                  </li>
                  <li>
                    <a href="../views/quesos.html">Quesos</a>
                  </li>
                  <li>
                    <a href="../views/recetas.html">Recetas</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li class="d-sm-none">
                    <a href="../views/wellness.html">Wellness</a>
                  </li>
                  <li>
                    <a href="../views/historia.html">Nosotros</a>
                  </li>
                  <li class="d-none d-sm-block">
                    <a href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6 d-sm-none">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb-bco.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram-bco.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="../views/politicasdeprivacidad.html">Términos y condiciones</a> / <a href="../views/politicasdeprivacidad.html">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
