<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>desayunos</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="button">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/quesos.html">Quesos</a></li>
            <li><a href="../views/recetas.html">Recetas</a></li>
            <li><a href="../views/tips.html">Tips</a></li>
            <li><a href="../views/wellness.html">Wellness</a></li>
            <li><a href="../views/historia.html">Nosotros</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="col-12 text-center">
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">

      <section class="p-top-70 d-sm-block d-none">
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-12">
              <div class="section_subtitle-recetas text-gris">
                <h2>Desayunos</h2>
                <p>Mostrando 26 recetas para desayunos</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-30">
        <div class="container">
          <div class="row">
            <div class="col-7 d-sm-none"></div>
            <div class="col-5 col-sm-12">
              <form class="search-form page-search">
                <div class="form-group">
                  <label for="search" class="sr-only"></label>
                  <input class="form-control search-field" type="text" placeholder="">
                </div>
                <button type="button" class="btn btn-default search-submit" name="button">
                  <img class="rec" src="../assets/icon/icon-search.svg" alt="">
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container p-top-30">
          <div class="row">
            <div class="col-6 col-sm-12">
              <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
              <div class="custom-select">
                <img class="filter-select" src="../assets/icon/icon-drop-down.svg" alt="drop-down">
                <select>
                  <option value="0">Productos</option>
                  <option value="1">Queso Cheddar</option>
                  <option value="2">Queso Manchego</option>
                  <option value="3">Queso Panela</option>
                  <option value="4">Queso Adobera</option>
                  <option value="5">Queso Amarillo</option>
                  <option value="6">Queso Oaxaca</option>
                  <option value="7">Queso Parmesano</option>
                </select>
              </div>
            </div>
            <div class="col-6 col-sm-12">
              <!--surround the select box with a "custom-select" DIV element. Remember to set the width:-->
              <div class="custom-select custom2">
                <img class="filter-select" src="../assets/icon/icon-drop-down.svg" alt="drop-down">
                <select>
                  <option value="0">Ordenar por</option>
                  <option value="1">Porciones</option>
                  <option value="2">Dificultad</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-30 d-sm-none">
        <div class="container">
          <div class="row">
            <div class="col-6 col-sm-12">
              <div class="section_subtitle-recetas text-gris">
                <h2>Desayunos</h2>
                <p>Mostrando 26 recetas para desayunos</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid container-mobile p-top-70 p-bottom-30" style="opacity: 1; display: block;">
          <div class="row">
            <div class="col-12" style="left: 0px; display: block;">
              <div class="row text-center">

                <div class="col-6 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte receto w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-1.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <div class="">
                              <a href="../views/chilaquiles.html" class="text-white"><h2>MOLLETES</h2></a>
                              <div class="container-fluid text-white content-recetas">
                                <div class="row">
                                  <div class="col-4 col-sm-12">
                                    <div class="row">
                                      <div class="col-6">
                                        <img src="../assets/icon/icon-chef-hat.svg" alt="sombrero">
                                      </div>
                                      <div class="col-6">
                                        <span>Fácil</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-12">
                                    <div class="row">
                                      <div class="col-6">
                                        <img src="../assets/icon/icon-clock.svg" alt="reloj">
                                      </div>
                                      <div class="col-6">
                                        <span>10 min</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-4 col-sm-12">
                                    <div class="row">
                                      <div class="col-6">
                                        <img src="../assets/icon/icon-people.svg" alt="personas">
                                      </div>
                                      <div class="col-6">
                                        <span>6</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row d-sm-none">
                                  <div class="col-12">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat, risus at luctus dapibus, lectus metus tincidunt purus, ut feugiat tortor nibh non sem.</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-2.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="../views/quesoManchego.html" class="caption-title-text-cheese"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-3.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-4.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0 d-sm-none">
                  <div class="owl-item w-100 nRecetas bg-awards">
                    <div class="item recetaIte w-100">
                      <div class="col-12 text-center bg-awards tip-recetas text-white">
                        <p>
                          Los quesos deben sacarse del refrigerados entre 20-30 minutos antes de consumirse para atemperarse y poder apreciar
                          todas sus propiedades.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-5.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese tipejo"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-6.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="imb-fluid" src="../assets/img/desayuno-7.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-8.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0 d-sm-none">
                  <div class="owl-item w-100 nRecetas bg-awards">
                    <div class="item recetaIte w-100">
                      <div class="col-12 text-center bg-awards tip-recetas text-white">
                        <p>
                          La textura de un queso nos puede hablar de su sabor. Los quesos suaves suelen ser frescos y con
                          sabores no tan fuertes, mientras que los quesos duros suelen ser salados y de sabores.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-9.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-6 col-sm-6 p-0">
                  <div class="owl-item nRecetas">
                    <div class="item recetaIte w-100">
                      <img class="img-fluid" src="../assets/img/desayuno-10.png" alt="Desayunos">
                      <div class="item-caption-recetas">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese tipejo"></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container p-top-70 p-bottom-70">
          <div class="row">
            <div class="col-12 text-center">
              <div class="pagination">
                <a href="#"><img class="icon-paginator" src="../assets/icon/icon-previous-doble.svg" alt="Previous"> Anterior</a>
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#" class="disabled">...</a>
                <a href="#">12</a>
                <a href="#">13</a>
                <a href="#">Siguiente <img class="icon-paginator" src="../assets/icon/icon-next-doble.svg" alt="Next"></a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Inicio</a>
                  </li>
                  <li>
                    <a href="#">Quesos</a>
                  </li>
                  <li>
                    <a href="#">Recetas</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li>
                    <a href="#">Wellness</a>
                  </li>
                  <li>
                    <a href="#">Nosotros</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="col-12 p-0">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p>
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
