<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aviso de privacidad</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-azul" href="../index.html">Inicio</a></li>
            <li><a class="text-azul" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-azul" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-azul" href="../views/tips.html">Tips</a></li>
            <li><a class="text-azul" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-azul" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-azul" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">
      <div class="container-fluid bg-cheddar text-white text-center title_aviso_priv">
        <div class="row">
          <div class="col-12">
            <h1>Aviso de privacidad</h1>
          </div>
        </div>
      </div>
      <div class="container content_politicas_priv p-top-30 p-bottom-30">
        <div class="row border-bottom pad-politicas">
          <div class="col-3">
            <span>01.</span>
          </div>
          <div class="col-9">
            <p>
              En cumplimiento a lo previsto por la Ley Federal de Protección de Datos Personales en Posesión de los
              Particulares (en lo sucesivo la “Ley”), por medio del presente Aviso de Privacidad (en lo sucesivo el “Aviso”),
              se hace de su conocimiento lo siguiente:
            </p>
            <p>
              GRUPO INDUSTRIAL Y COMERCIAL NAVARRO, S.A. DE C.V. (en lo sucesivo “Quesos Navarro”), con domicilio en
              Porfirio Díaz 180 Col. Centro, Tepatitlán de Morelos, Jalisco, C.P. 47600, es el responsable del tratamiento
              (se entiende por tratamiento lo señalado por el artículo 3° fracción XVIII de la “Ley”) de los datos personales,
              aun los sensibles, financieros y patrimoniales, (en lo sucesivo los “Datos”) que le sean proporcionados por las
              personas físicas, es decir, sus clientes, proveedores, empleados, y/o cualquier persona a la que se le recaben datos
              (en lo sucesivo el “Titular”) y esto no tenga la finalidad de uso personal.
            </p>
            <p>
              Los “Datos” pueden ser recabados de forma personal, así como, aquellos que se obtengan por medio de nuestra página
              de internet www.quesosnavarro.com y/o por cualquier otro medio permitido por la “Ley”.
            </p>
          </div>
        </div>

        <div class="row border-bottom pad-politicas">
          <div class="col-3">
            <span>02.</span>
          </div>
          <div class="col-9">
            <p>
              La finalidad del tratamiento de los “Datos” estará limitada a:
            </p>
            <p>
              (i) La presentación de solicitud de empleo por cualquier medio y en su caso,
              la obtención de éste por vacante; (ii) Cualquier trámite que por cualquier obligación se tenga que
              realizar ante el Instituto Mexicano del Seguro Social, (IMSS), el Instituto del Fondo Nacional de
              Vivienda para los Trabajadores (INFONAVIT), Servicio de Administración Tributaria (SAT), Fondo
              Nacional para el Consumo de los Trabajadores (FONACOT) y/o cualquier otra dependencia gubernamental;
              (iii) Otorgamiento de créditos y/o préstamos; (iv) Impulso de productos de nueva creación; (v) Entrega
              y/o recepción de producto; (vi) Participación en ofertas y/o promociones; (vii) Invitaciones a eventos
              educativos, deportivos, sociales, culturales o cualquier otro análogo a estos; (viii) Atención al cliente;
              (ix) Envío de publicidad a través de cualquier medio de comunicación; (x) Investigación de estudios de mercado;
              (xi) Celebración de relaciones contractuales o convenios con apego a las legislación vigente en la República Mexicana;
              (xii) Registro de información en libros de empleados y/o libros corporativos según la Ley Federal del Trabajo y la
              Ley General de Sociedades Mercantiles, respectivamente; (xiii) Cualesquier otro análogo a los anteriores.
            </p>
          </div>
        </div>

        <div class="row border-bottom pad-politicas">
          <div class="col-3">
            <span>03.</span>
          </div>
          <div class="col-9">
            <p>
              En el supuesto de que “Quesos Navarro” pretenda dar una finalidad distinta a la señalada en el
              “Aviso” que no sea compatible o análoga con las que se describen con antelación, se informará al
              “Titular” y/o en su caso se solicitará su consentimiento, para el ejercicio de la nueva finalidad,
              dándole a conocer la fecha en la cual surtirá efecto(s) el(los) cambio(s), pudiendo emplear para ello
              cualesquiera de los siguientes medios:
            </p>
            <p>
              (i) De forma personal a través de un documento escrito; (ii) A través de nuestra página de internet
              www.quesosnavarro.com; (iii) En cualquier otro medio permitido por la Ley.
            </p>
          </div>
        </div>

        <div class="row border-bottom pad-politicas">
          <div class="col-3">
            <span>04.</span>
          </div>
          <div class="col-9">
            <p>
              Los “Datos” que tiene “Quesos Navarro” o que se recaban en este momento o de forma ulterior al mismo
              son y serán debidamente resguardados, conservados y protegidos por el Departamento de Protección de Datos
              Personales de “Quesos Navarro” (en lo sucesivo el “Departamento”) durante el tiempo del tratamiento, teniendo
              únicamente el acceso a ellos los integrantes de éste y demás personal debidamente autorizado mediante manifiesto
              de confidencialidad, quienes en conjunto tienen a su disposición medios físicos y tecnológicos para efectos de
              impedir su perdida, mal uso, alteración, divulgación y robo.
            </p>
          </div>
        </div>

        <div class="row border-bottom pad-politicas">
          <div class="col-3">
            <span>05.</span>
          </div>
          <div class="col-9">
            <p>
              Con la presente suscripción del “Aviso” usted acepta y otorga su consentimiento expreso
              para la transferencia de los datos de manera enunciativa mas no limitativa para filiales y/o
              subsidiarias, y terceros nacionales o extranjeros sean personas físicas o morales que sostengan una
              relación jurídica contractual con “Quesos Navarro”, señalando que no se requerirá de consentimiento
              para realizar la(s) transferencia(s) necesaria(s) cuando se presente alguno de los supuestos del artículo 37 de la “Ley”.
            </p>
          </div>
        </div>

        <div class="row pad-politicas">
          <div class="col-3">
            <span>06.</span>
          </div>
          <div class="col-9">
            <p>
              El “Titular” de la información por su propio derecho o a través de su representante a partir del día
              06 de enero de 2012 podrá solicitar el Acceso, Rectificación, Cancelación u Oposición (en lo sucesivo “Derechos ARCO”)
              de los “Datos”, por cualquiera de los siguientes medios:
            </p>
            <p>
              (i) Mediante solicitud escrita dirigida genéricamente al “Departamento” de “Quesos Navarro”, al siguiente
              domicilio: Porfirio Díaz 180 Col. Centro, Tepatitlán de Morelos, Jalisco, C.P. 47600 de las 9:00 a las 18:00
              horas, en días hábiles;
              (ii) Por medio de solicitud escrita enviada al correo electrónico protecciondedatos@quesosnavarro.com,
              de las 9:00 a las 18:00 horas, en días hábiles.
            </p>
            <p>
              Las solicitudes que se presenten deberán reunir los requisitos del artículo 29 de la “Ley”,
              es decir, (i) El nombre del titular y domicilio u otro medio para comunicarle la respuesta a su solicitud;
              (ii) Los documentos que acrediten la identidad o, en su caso, la representación legal del titular;
              (iii) La descripción clara y precisa de los “Datos” respecto de los que se busca ejercer alguno de los
              derechos antes mencionados, y; (iv) Cualquier otro elemento o documento que facilite la localización de los
              “Datos”. Después del trámite necesario el responsable a través del “Departamento” comunicará al “Titular” la
              determinación tomada en los plazos previstos por el artículo 32 del mismo ordenamiento.
            </p>
            <p>
              En caso de que el “Titular” no reciba respuesta dentro del término señalado en el párrafo que antecede y/o
              no se encuentre conforme con la determinación que le haya sido proporcionada, o bien considere que existió alguna
              violación a sus “Derechos ARCO” en términos de la “Ley” podrá interponer queja o denuncia correspondiente ante el
              Instituto Federal de Acceso a la Información y Protección de Datos (IFAI).
            </p>
          </div>
        </div>

      </div>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/quesos.html">Quesos</a></li>
                  <li><a href="../views/recetas.html">Recetas</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="#">Consejos</a></li>
                  <li><a href="../views/wellness.html">Wellness</a></li>
                  <li><a href="../views/historia.html">Nosotros</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
