<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Queso manchego</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="#">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="button">
                <span>
                  <img class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Quesos</a></li>
            <li><a href="#">Recetas</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="#">Wellness</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-12 text-center">
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">
      <section class="paginator p-top-30">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <button class="d-flex" type="button" name="button"><img src="../assets/icon/icon-previous.svg" alt=""></i> Anterior</button>
            </div>
            <div class="col-6 text-right">
              <button class="d-flex ml-auto" type="button" name="button">Siguiente <img src="../assets/icon/icon-next.svg" alt=""></button>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-70 p-bottom-70">
        <div class="container">
          <div class="row">
            <div class="col-5 col-sm-12 text-center">
              <div class="p-bottom-30 d-sm-none">
                <img style="position: relative" src="../assets/img/etiqueta-manchego.png" alt="">
                <img style="position: absolute; left: 73px; top: 60px;" src="../assets/img/queso-navarro-manchego.png" alt="Queso">
              </div>
              <div class="p-bottom-30 d-none d-sm-block">
                <img width="18.5%" style="position: relative" src="../assets/img/etiqueta-manchego.png" alt="">
                <img width="100%" style="position: absolute; left: 80px; top: 130px;" src="../assets/img/queso-navarro-manchego.png" alt="Queso">
              </div>
              <div class="text-center presentaciones-queso p-bottom-30 p-top-30" style="color: #414141">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="m-0">PRESENTACIONES</h4>
                    </div>
                    <div class="col-12 p-top-10">
                      <p>200g | 400g | 1kg | 2kg | 5kg</p>
                    </div>
                    <div class="col-12 p-top-10">
                      <p>Rebanadas Molleteras 200g</p>
                      <p>Rallado 225</p>
                      <p>Rebanadas sándwich 400g</p>
                      <p>Rallado 2.5kg</p>
                    </div>
                    <div class="col-12 p-top-10">
                      <p>Mezcla Mozzarella-Manchego Cubicado 1kg</p>
                      <p>Mezcla Mozzarella-Manchego Cubicado 5kg</p>
                      <p>Mezcla Mozzarella-Manchego Premium 5kg</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-top-30 p-bottom-30 container-leche-info">
                <div class="container text-center">
                  <div class="row">
                    <div class="col-6">
                      <img class="" src="../assets/img/logo-cofocalec.png" alt="Leche info">
                    </div>
                    <div class="col-6">
                      <img class="" src="../assets/img/100-natural.png" alt="Leche info">
                    </div>
                    <div class="col-6">
                      <img class="" src="../assets/img/100-leche-fresca.png" alt="Leche info">
                    </div>
                    <div class="col-6">
                      <img class="" src="../assets/img/envasado-al-vacio.png" alt="Leche info">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container">
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subtitle text-rosa">
                      <h2 class="">Queso Manchego</h2>
                    </div>
                    <div class="text-justify">
                      <p>
                        El Queso Manchego elaborado con leche de vaca es uno de los quesos de mayor consumo en
                        México debido a su sabor suave, versatilidad de uso y alta capacidad de fundido. Un elemento
                        básico en la gastronomía regional, nacional e internacional.
                      </p>
                      <p>
                        El Queso Manchego NAVARRO es de sabores agridulces, con matices de mantequilla y tonos
                        frutales. Tiene un aroma suave, a mantequilla y ligeramente salado. La textura es suave, bien
                        formada y uniforme. En la boca el Queso Manchego NAVARRO se puede percibir suave, tenso,
                        denso y aterciopelado. Se caracteriza por ser un queso muy facil de manejar, ya que se puede
                        rebanar y rallar a baja temperatura. Funde muy bien sin llegar a tostarse, por lo que si se llega a
                        dorar o gratinar obtendrá un color uniforme.
                      </p>
                      <p>
                        En cuanto a la versatilidad, el Queso Manchego NAVARRO se puede utilizar como botana,
                        fundido, gratinado o como un ingrediente que complementa practicamente cualquier receta  por
                        su sabor suave y equilibrado, dándole ese toque dulzón del cual es característico.
                      </p>
                      <p>
                        Este Queso combina con frutas, verduras, bocadillos de mermeladas y ates. Es ideal para
                        preparar salsa y aderezos. También es un buen ingrediente para hacer pizzas, cremas,
                        sándwiches, ensaladas, etc. Combina prácticamente con todos los platillos típico mexicanos
                        como los chicles rellenos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2 class="">INGREDIENTES</h2>
                    </div>
                    <div class="text-justify">
                      <p class="m-0">Leche entera pasteurizada de vaca, sal, cultivos lácticos, cuajo y cloruros de calcio.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2 class="">Usos</h2>
                    </div>
                    <div class="text-justify">
                      <iframe width="420" height="350" src="https://www.youtube.com/embed/Pyrfic3UlZw?controls=0"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-sm-12">
              <div class="p-bottom-30">
                <div class="text-justify">
                  <div class="col-12 p-0">
                    <table class="composicion-table-information">
                      <tr class="azul">
                        <th colspan="5">Información nutrimental</th>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-top: 10px;"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3">
                          Tamaño de la porción: 30 gr
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-size: 1.2rem">
                          Cantidad por porción
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: 500;">
                          Contenido Enérgico: 470 kg / 110 kcal
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          Proteínas
                        </td>
                        <td class="text-right" colspan="1">
                          7 g
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          Grasas
                        </td>
                        <td class="text-right" colspan="1">
                          9 g
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-size: 1.2rem">
                          De las cuales:
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          Grasa saturada
                        </td>
                        <td class="text-right" colspan="1">
                          4 g
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          Carbohidratos
                        </td>
                        <td class="text-right" colspan="1">
                          2,0 g
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          Sodio
                        </td>
                        <td class="text-right" colspan="1">
                          240 mg
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" class="text-right">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          %IDS*
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">
                          Calcio
                        </td>
                        <td class="text-right" colspan="1">
                          24%
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: 500;">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          *Porcentaje de la ingesta diario sugerida según la NOM-051-SCFI/SAA1-2010
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-bottom: 10px;"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container">
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2 class="">Composición</h2>
                    </div>
                    <div class="text-justify">
                      <div class="col-12 p-0">
                        <table class="composicion-table">
                          <tr class="rosa">
                            <th style="border-color: #FA3B55">GRASA BUTÍRICA</th>
                            <th style="border-color: #FA3B55">PROTEÍNA</th>
                            <th style="border-color: #FA3B55">HUMEDAD</th>
                          </tr>
                          <tr>
                            <td style="border-color: #FA3B55">Min. 25%</td>
                            <td style="border-color: #FA3B55">Min. 20%</td>
                            <td style="border-color: #FA3B55">Máx. 45%</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid bg-awards p-top-70 p-bottom-30">
          <div class="row">
            <div class="col-5"></div>
            <div class="col-7">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="section_title-awards text-awards">
                      <h2 class="">AWARDS</h2>
                    </div>
                    <div class="text-justify">
                      <p class="mb-0">
                        Nuestro Queso Manchego NAVARRO nos llenó de orgullo en 2018 al ser galardonado a nivel mundial en dos
                        ocasiones, trayendo a casa dos medallas:
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid bg-awards-medals">
              <div class="row">
                <div class="col-5">
                  <div class="container p-bottom-30 p-top-30">
                    <img class="" src="../assets/img/american-cheese-society-acs-2018-winner-primer-lugar-manchego.png" alt="Medals">
                  </div>
                </div>
                <div class="col-7">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <div class="section_medals-awards">
                          <h4>
                            Primer lugar en la ACS Judging and  Competition en la categoría
                            Hispanic & Portuguese Chesses, Cooking Hispanic.
                          </h4>
                          <h4>
                            Medalla de plata en los Word Chesses Awards en la categoría Any
                            other semi-hard cow's milk chesse.
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards p-bottom-30 p-top-30">
          <div class="row">
            <div class="col-5"></div>
            <div class="col-7">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="text-justify">
                      <p>
                        Todos son reconocimientos que nos llenan de orgullo e inspiración, porque en Quesos NAVARRO, sabemos hacer
                        Quesos de clase mundial.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- <h4>PRESENTACIONES</h4>
      <p>200g | 400g | 1kg | 2kg | 5kg</p>
      <p>Rebanadas Molleteras 200g</p>
      <p>Rallado 225</p>
      <p>Rebanadas sándwich 400g</p>
      <p>Rallado 2.5kg</p>

      <p>Mezcla Mozzarella-Manchego Cubicado 1kg</p>
      <p>Mezcla Mozzarella-Manchego Cubicado 5kg</p>
      <p>Mezcla Mozzarella-Manchego Premium 5kg</p> -->

    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Inicio</a>
                  </li>
                  <li>
                    <a href="#">Quesos</a>
                  </li>
                  <li>
                    <a href="#">Recetas</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li>
                    <a href="#">Wellness</a>
                  </li>
                  <li>
                    <a href="#">Nosotros</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="col-12 p-0">
                  <a href="#"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
                  <a href="#"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p>
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>


  </body>
</html>
