<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quesos</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-azul" href="../index.html">Inicio</a></li>
            <li><a class="text-azul" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-azul" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-azul" href="../views/tips.html">Tips</a></li>
            <li><a class="text-azul" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-azul" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-azul" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">
      <div class="button-menu d-none d-sm-block">
        <button class="btn-block bg-manchego" type="button" name="button">Productos</button>
      </div>
      <section class="p-top-30">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section_title text-center text-amarillo">
                <h2>Quesos</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-text">
          <div class="container">
            <div class="row">
              <div class="col-3 d-sm-none"></div>
              <div class="col-6 col-sm-12 text-center">
                <p>
                  Aquí se refleja nuestro compromiso con la calidad, el sabor y la tradición. Desde la frescura del
                  Queso Panela hasta la maestría de la elaboración del Queso Cheddar Añejo, estamos orgullosos de lo
                  que estás apunto de conocer.
                </p>
                <p>Te presentamos La Familia de Quesos NAVARRO.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="quesos p-top-30 p-bottom-70">
        <div class="container container-mobile" style="opacity: 1; display: block;">
          <div class="row">
            <div class="col-12" style="left: 0px; display: block;">
              <div class="row text-center">
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-cheddar">
                    <h3 class="m-0 d-none d-sm-block">Queso cheddar</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos">
                    <div class="item cheddar" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" src="../assets/img/queso-navarro-cheddar.png" alt="Cheddar">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoCheddar.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO CHEDDAR
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p class="mt-0">El Queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="../views/quesoCheddar.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-manchego">
                    <h3 class="m-0 d-none d-sm-block">Queso manchego</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item manchego" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-manchego.png" alt="Manchego">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoManchego.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO MANCHEGO
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Un elemento básico en la gastronomía regional, nacional e internacional.</p>
                        <p class="mt-0"><a href="../views/quesoManchego.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-panela">
                    <h3 class="m-0 d-none d-sm-block">Queso panela</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item panela" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px;" class="" src="../assets/img/queso-navarro-panela.png" alt="Panela">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoPanela.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO PANELA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El Queso Panela es el queso de mayor consumo en México.</p>
                        <p class="mt-0"><a href="../views/quesoPanela.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-adobera">
                    <h3 class="m-0 d-none d-sm-block">Queso adobera</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item adobera" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-adobera.png" alt="Adobera">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoAdobera.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO ADOBERA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Por tradición, es el queso de mayor consumo en Jalisco, ganándose esta predilección por la versatilidad.</p>
                        <p class="mt-0"><a href="../views/quesoAdobera.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-qamarillo">
                    <h3 class="m-0 d-none d-sm-block">Queso amarillo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item qamarillo" style="padding-left: 35px; padding-top: 50px;">
                      <img height="240px" class="" src="../assets/img/queso-navarro-amarillo.png" alt="Amarillo">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoAmarillo.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO AMARILLO
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Posee un sabor suave a queso maduro, ligeramente lácteo y salado.</p>
                        <p class="mt-0"><a href="../views/quesoAmarillo.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-oaxaca">
                    <h3 class="m-0 d-none d-sm-block">Queso oaxaca</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item oaxaca" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-oaxaca.png" alt="Oaxaca">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoOaxaca.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO OAXACA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El Queso Oaxaca NAVARRO es reconocido por su sabor, su forma enrollada formando una bola.</p>
                        <p class="mt-0"><a href="../views/quesoOaxaca.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-parmesano">
                    <h3 class="m-0 d-none d-sm-block">Queso parmesano</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item parmesano" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-parmesano.png" alt="Parmesano">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoParmesano.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO PARMESANO
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El Queso Parmesano NAVARRO es un excelente ensalzador de sabor.</p>
                        <p class="mt-0"><a href="../views/quesoParmesano.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-qcrema">
                    <h3 class="m-0 d-none d-sm-block">Queso crema</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item crema" style="padding-top: 120px;">
                      <img width="70%" height="auto" class="" src="../assets/img/queso-navarro-queso-crema.png" alt="Crema">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoCrema.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO CREMA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El Queso Crema NAVARRO es elaborado con 100% crema y leche de vaca, libre de gluten y conservadores artificiales.</p>
                        <p class="mt-0"><a href="../views/quesoCrema.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-cabra">
                    <h3 class="m-0 d-none d-sm-block">Queso de cabra</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item cabra" style="padding-left: 35px; padding-top: 42px;">
                      <img class="queso-cabra" src="../assets/img/queso-navarro-queso-de-cabra.png" alt="Cabra">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoCabra.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO DE CABRA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El Queso de Cabra NAVARRO es 100% natural, producido con leche fresca en su totalidad.</p>
                        <p class="mt-0"><a href="../views/quesoCabra.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-chihuahua">
                    <h3 class="m-0 d-none d-sm-block">Queso chihuahua</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item chihuahua" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-chihuahua.png" alt="Chihuahua">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoChihuahua.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO CHIHUAHUA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">De pasta prensada y consistencia semisuave, sin corteza, terso y consistente.</p>
                        <p class="mt-0"><a href="../views/quesoChihuahua.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-gouda">
                    <h3 class="m-0 d-none d-sm-block">Queso gouda</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item gouda" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-gouda.png" alt="Gouda">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoGouda.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO GOUDA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Un queso perfecto para utilizarse en platillos fríos o calientes así como para comerse solo.</p>
                        <p class="mt-0"><a href="../views/quesoGouda.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-mozzarella">
                    <h3 class="m-0 d-none d-sm-block">Queso mozzarella</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item mozzarella" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-mozzarella.png" alt="Mozzarella">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoMozzarella.html" class="caption-title-text-cheese">
                          <div class="caption-description">
                            <span class="caption-title">
                              QUESO MOZZARELLA
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El Queso Mozzarella NAVARRO es ideal para la elaboración de elementos fundidos.</p>
                        <p class="mt-0"><a href="../views/quesoMozzarella.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-cheddaranejo">
                    <h3 class="m-0 d-none d-sm-block">Queso cheddar añejo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item cheddaranejo" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-cheddar-añejo.png" alt="Cheddar añejo">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoCheddarAnejo.html" class="caption-title-text-cheese">
                          <div class="caption-description" style="bottom: 22%">
                            <span class="caption-title">
                              QUESO CHEDDAR AÑEJO
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Maduración por un mínimo de 6 meses para reforzar sus características.</p>
                        <p class="mt-0"><a href="../views/quesoCheddarAnejo.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-extraanejo">
                    <h3 class="m-0 d-none d-sm-block">Queso cheddar extra añejo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item extraanejo" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-cheddar-extra-añejo.png" alt="Extra añejo">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoCheddarExtraAnejo.html" class="caption-title-text-cheese">
                          <div class="caption-description" style="bottom: 16%">
                            <span class="caption-title">
                              QUESO CHEDDAR EXTRA AÑEJO
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Maduración mínimo de 12 meses para la creación de un queso excepcional.</p>
                        <p class="mt-0"><a href="../views/quesoCheddarExtraAnejo.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-cotija">
                    <h3 class="m-0 d-none d-sm-block">Queso cotija añejo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item cotija" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-cotija-añejo.png" alt="Cotija">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/quesoCotija.html" class="caption-title-text-cheese">
                          <div class="caption-description" style="bottom: 22%">
                            <span class="caption-title">
                              QUESO COTIJA AÑEJO
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Maduración de mínimo 12 meses para lograr su maduración de forma tradicional.</p>
                        <p class="mt-0"><a href="../views/quesoCotija.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item bg-giftpack">
                    <h3 class="m-0 d-none d-sm-block">Gift pack 2018-2019</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item giftpack" style="padding-left: 25px; padding-top: 70px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-gift-pack-2019.png" alt="Gift pack">
                      <div class="item-caption-quesos d-sm-none">
                        <a href="../views/giftpack.html" class="caption-title-text-cheese">
                          <div class="caption-description" style="bottom: 26%">
                            <span class="caption-title">
                              GIFT PACK 2018-2019
                            </span>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">Un homenaje a lo que más nos apasiona, el arte de hacer queso.</p>
                        <p class="mt-0"><a href="../views/giftpack.html">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/quesos.html">Quesos</a></li>
                  <li><a href="../views/recetas.html">Recetas</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="#">Consejos</a></li>
                  <li><a href="../views/wellness.html">Wellness</a></li>
                  <li><a href="../views/historia.html">Nosotros</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="../views/politicasdeprivacidad.html">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
