<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>QUESO MANCHEGO</h2>

    <p>El Queso Manchego elaborado con leche de vaca es uno de los quesos de mayor consumo en
      México debido a su sabor suave, versatilidad de uso y alta capacidad de fundido. Un elemento
      básico en la gastronomía regional, nacional e internacional.</p>
      <p>El Queso Manchego NAVARRO es de sabores agridulces, con matices de mantequilla y tonos
        frutales. Tiene un aroma suave, a mantequilla y ligeramente salado. La textura es suave, bien
        formada y uniforme. En la boca el Queso Manchego NAVARRO se puede percibir suave, tenso,
        denso y aterciopelado. Se caracteriza por ser un queso muy facil de manejar, ya que se puede
        rebanar y rallar a baja temperatura. Funde muy bien sin llegar a tostarse, por lo que si se llega a
        dorar o gratinar obtendrá un color uniforme.</p>
        <p>En cuanto a la versatilidad, el Queso Manchego NAVARRO se puede utilizar como botana,
          fundido, gratinado o como un ingrediente que complementa practicamente cualquier receta  por
          su sabor suave y equilibrado, dándole ese toque dulzón del cual es característico.</p>
          <p>Este Queso combina con frutas, verduras, bocadillos de mermeladas y ates. Es ideal para
            preparar salsa y aderezos. También es un buen ingrediente para hacer pizzas, cremas,
            sándwiches, ensaladas, etc. Combina prácticamente con todos los platillos típico mexicanos
            como los chicles rellenos.</p>

            <h4>PRESENTACIONES</h4>
            <p>200g | 400g | 1kg | 2kg | 5kg</p>
            <p>Rebanadas Molleteras 200g</p>
            <p>Rallado 225</p>
            <p>Rebanadas sándwich 400g</p>
            <p>Rallado 2.5kg</p>

            <p>Mezcla Mozzarella-Manchego Cubicado 1kg</p>
            <p>Mezcla Mozzarella-Manchego Cubicado 5kg</p>
            <p>Mezcla Mozzarella-Manchego Premium 5kg</p>

            <h3>INGREDIENTES</h3>
            <p>Leche entera pasteurizada de vaca, sal, cultivos lácticos, cuajo y cloruros de calcio.</p>

            <table>
              <tr>
                <td>GRASA BUTÍRICA</td>
                <td>PROTEÍNA</td>
                <td>HUMEDAD</td>
              </tr>
              <tr>
                <td>Min. 25%</td>
                <td>Min. 20%</td>
                <td>Máx. 45%</td>
              </tr>
            </table>

            <h2>AWARDS</h2>

            <p>Nuestro Queso Manchego NAVARRO nos llenó de orgullo en 2018 al ser galardonado a nivel mundial en dos
              ocasiones, trayendo a casa dos medallas:</p>
              <h5>Primer lugar en la ACS Judging and  Competition en la categoría
                Hispanic & Portuguese Chesses, Cooking Hispanic.</h5>
                <h5>Medalla de plata en los Word Chesses Awards en la categoría Any
                  other semi-hard cow's milk chesse.</h5>
                  <p>Todos son reconocimientos que nos llenan de orgullo e inspiración, porque en Quesos NAVARRO, sabemos hacer
                    Quesos de clase mundial.</p>

  </body>
</html>
