<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quesos</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="button">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/quesos.html">Quesos</a></li>
            <li><a href="../views/recetas.html">Recetas</a></li>
            <li><a href="#">Tips</a></li>
            <li><a href="../views/wellness.html">Wellness</a></li>
            <li><a href="../views/historia.html">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-12 text-center">
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">
      <div class="button-menu d-none d-sm-block">
        <button class="btn-block rosa" type="button" name="button">Productos</button>
      </div>
      <section class="p-top-10">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section_title text-center text-amarillo">
                <h2>Quesos</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-text">
          <div class="container">
            <div class="row">
              <div class="col-3 d-sm-none"></div>
              <div class="col-6 col-sm-12 text-center">
                <p>
                  Aquí se refleja nuestro compromiso con la calidad, el sabor y la tradicion. Desde la frescura del
                  Queso Panela hasta la maestría de la elaboración del Queso Cheddar, estamos orgullosos de lo
                  que estás apunto de conocer.
                </p>
                <p>Te presentamos La Familia de Quesos NAVARRO.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="quesos p-top-30 p-bottom-70">
        <div class="container container-mobile" style="opacity: 1; display: block;">
          <div class="row">
            <div class="col-12" style="left: 0px; display: block;">
              <div class="row text-center">
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #FF9F00">
                    <h3 class="m-0 d-none d-sm-block">Queso cheddar</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos">
                    <div class="item cheddar" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" src="../assets/img/queso-navarro-cheddar.png" alt="Cheddar">
                      <div class="item-caption-quesos d-sm-none">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO CHEDDAR</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #FA3B55">
                    <h3 class="m-0 d-none d-sm-block">Queso manchego</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item manchego" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-manchego.png" alt="Manchego">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="../views/quesoManchego.html" class="caption-title-text-cheese">QUESO MANCHEGO</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #71C8EB">
                    <h3 class="m-0 d-none d-sm-block">Queso panela</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item panela" style="padding-left: 35px; padding-top: 50px;">
                      <img height="350px;" class="" src="../assets/img/queso-navarro-panela.png" alt="Panela">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO PANELA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #E14F00">
                    <h3 class="m-0 d-none d-sm-block">Queso adobera</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item adobera" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-adobera.png" alt="Adobera">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO ADOBERA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #FFDC40">
                    <h3 class="m-0 d-none d-sm-block">Queso amarillo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item qamarillo" style="padding-left: 35px; padding-top: 50px;">
                      <img height="240px" class="" src="../assets/img/queso-navarro-amarillo.png" alt="Amarillo">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO AMARILLO</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #00A49D">
                    <h3 class="m-0 d-none d-sm-block">Queso oaxaca</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item oaxaca" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-oaxaca.png" alt="Oaxaca">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO OAXACA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #A8AC1A">
                    <h3 class="m-0 d-none d-sm-block">Queso parmesano</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item parmesano" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-parmesano.png" alt="Parmesano">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO PARMESANO</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #6FCAEE">
                    <h3 class="m-0 d-none d-sm-block">Queso crema</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item crema" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-crema.png" alt="Crema">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO CREMA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #576E7E">
                    <h3 class="m-0 d-none d-sm-block">Queso de cabra</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item cabra" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-cabra.png" alt="Cabra">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO DE CABRA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #B3A79B">
                    <h3 class="m-0 d-none d-sm-block">Queso chihuahua</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item chihuahua" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-chihuahua.png" alt="Chihuahua">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO CHIHUAHUA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #90989D">
                    <h3 class="m-0 d-none d-sm-block">Queso gouda</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item gouda" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-gouda.png" alt="Gouda">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO GOUDA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #2382CF">
                    <h3 class="m-0 d-none d-sm-block">Queso mozzarella</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item mozzarella" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-mozzarella.png" alt="Mozzarella">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO MOZZARELLA</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #858888">
                    <h3 class="m-0 d-none d-sm-block">Queso cheddar añejo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item cheddaranejo" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-cheddar-añejo.png" alt="Cheddar añejo">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO CHEDDAR AÑEJO</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #A47A37">
                    <h3 class="m-0 d-none d-sm-block">Queso cheddar extra añejo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item extraanejo" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-cheddar-extra-añejo.png" alt="Extra añejo">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO CHEDDAR EXTRA AÑEJO</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #CE4702">
                    <h3 class="m-0 d-none d-sm-block">Queso cotija añejo</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item cotija" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-cotija-añejo.png" alt="Cotija">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">QUESO COTIJA AÑEJO</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4 col-sm-12 p-0">
                  <div class="owl-title-item" style="background-color: #002C54">
                    <h3 class="m-0 d-none d-sm-block">Gift pack 2018</h3>
                  </div>
                  <div class="owl-item w-100 nQuesos" style="width: 100%;">
                    <div class="item giftpack" style="padding-left: 35px; padding-top: 50px;">
                      <img height="250px" class="" src="../assets/img/queso-navarro-gift-pack.png" alt="Gift pack">
                      <div class="item-caption-quesos">
                        <div class="caption-description">
                          <span class="caption-title">
                            <a href="#" class="caption-title-text-cheese">GIFT PACK 2018</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 d-none d-sm-block">
                      <div class="text-quesos-mobile">
                        <p style="margin-bottom: 30px; margin-top: 0;">El queso Cheddar NAVARRO es elaborado a la usanza inglesa.</p>
                        <p class="mt-0"><a href="#">Leer más</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Inicio</a>
                  </li>
                  <li>
                    <a href="#">Quesos</a>
                  </li>
                  <li>
                    <a href="#">Recetas</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li>
                    <a href="#">Wellness</a>
                  </li>
                  <li>
                    <a href="#">Nosotros</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="col-12 p-0">
                  <a href="#"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
                  <a href="#"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p>
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
