<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>QUESO CHEDDAR</h2>
    <p>El Queso Cheddar NAVARRO es elaborado a la usanza inglesa que a diferencia de la americana
      mantiene su color blanco marfil ya que no contiene colorantes. Puede ser madurado, lo que
      cambia consideradamente su sabor, textura y color.</p>
      <p>Un Queso Cheddar joven, menor a 3 meses, es de un gusto suave y aterciopelado, y de pasta
        tierna. Al madurar, su sabor tiende a ser ligeramnete astringente, su aroma mas intenso, su
        pasta más suave, llegando a ser cremosa y de tonos amarillos. Se caracteriza por fundir con
        facilidad y gratinar uniformemente con un tostado medio.</p>
        <p>El Queso Cheddar NAVARRO es apreciado por su versatilidad, ya que se puede utilizar como
          botana, fundido, gratinado o como ingrediente. En un elemento básico en la gastronomía
          regional, nacional e internacional.</p>
          <p>Se puede consumir en frío, simplemente cubicado o en alguna preparación. El sabor del Queso
            Cheddar NAVARRO se percibe totalmente diferente. como en la mayoría de los quesos, cuando
            se consume en frío o ya fundido.</p>
            <p>Su capacidad de fundido y de gratinar son las más apreciadas, ya que tiene la consistencia para
              formar hebra, sin escurrirse, dora, dándoles a los platillos un acompañamiento con toques
              salados, butíricos, ideal para mariscos, pastas y pizzas. Es adecuado para hacer fondues,
              salsas, aderezos y hasta postres.</p>
              <p>Es un buen acompañamiento sin que su sabor pierda presencia al combinarse con salsas o
                ingredientes fuertes, aunque conforme se va madurando pasa a ser protagonista o en buena
                manera el ingrediente que define el sabor del platillo.</p>

                <h4>PRESENTACIONES</h4>
                <p>200g | 400g | 1kg | 2.8kg | 5kg</p>
                <p>Rebanado 200g</p>
                <p>Rallado 300g</p>
                <p>Rallado 2.5kg</p>

                <h3>INGREDIENTES</h3>
                <p>Leche entera pasteurizada de vaca, sal, cultivos lácticos, cuajo y cloruros de
                  calcio.</p>

                  <h3>Usos</h3>

                  <h3>COMPOSICIÓN</h3>

                  <table>
                    <tr>
                      <td>GRASA BUTÍRICA</td>
                      <td>PROTEÍNA</td>
                      <td>HUMEDAD</td>
                    </tr>
                    <tr>
                      <td>Min. 27%</td>
                      <td>Min. 20%</td>
                      <td>Máx. 42%</td>
                    </tr>
                  </table>
  </body>
</html>
