<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>QUESO ADOBERA</h2>

    <p>El Queso Amarillo NAVARRO es elaborado apartir de una mezcla de quesos cheddar a la
      usanza americana, rázon por la cuál es de color amarillo. Posee un sabor suave a queso
      maduro, ligeramente lácteo y salado. Definitivamente su sabor lo hace insustituible. Su textura
      es firme, tersa, moderadamente cremosa. Funde fácil y uniformemente. Ideal para sándwiches y
      hamburguesas.</p>
      <p>El Queso Amarillo NAVARRO no solo le brindará un sabor muy fácil de combinar con diferentes
        alimentos, si no también una textura cremosa, fácil de mezclar y utilizar al momento de preparar
        salsas para pastas, nachos, desayunos, chiles rellenos, mariscos y pescados rellenos.</p>
        <p>Con sus precentaciones en rebanadas individuales, lo hace un queso práctico al momento de
          cocinar y guardar. Además, hace muy fácil el control de la porción a utilizar.</p>

            <h4>PRESENTACIONES</h4>
            <p>Pack de 5 | Pack de 10</p>

            <h3>INGREDIENTES</h3>
            <p>Mezcla de quesos (leche entera pasteurizada de vaca, sal yodada, enzimas y cultivo láctico),
              agua, grasa butírica, proteina de leche, solidos de la leche, leche descremada en polvo, citrato
              de sodio, saborizante natural, dextroza, ácido cítrico, fosfato de sodio,
              anaranjado alimentos 5 y 6 y lecitina de soya.</p>

            <table>
              <tr>
                <td>GRASA BUTÍRICA</td>
                <td>PROTEÍNA</td>
                <td>HUMEDAD</td>
              </tr>
              <tr>
                <td>Min. 22%</td>
                <td>Min. 15%</td>
                <td>Máx. 47%</td>
              </tr>
            </table>

  </body>
</html>
