<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Queso Cheddar Añejo</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-azul" href="../index.html">Inicio</a></li>
            <li><a class="text-azul" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-azul" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-azul" href="../views/tips.html">Tips</a></li>
            <li><a class="text-azul" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-azul" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-azul" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">

      <section class="paginator p-top-70 p-mobile-0">
        <div class="container d-sm-none">
          <div class="row">
            <div class="col-6">
              <a href="../views/quesoMozzarella.html">
                <button class="d-flex" type="button" name="button"><img src="../assets/icon/icon-previous.svg" alt="Anterior"> Anterior</button>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="../views/quesoCheddarExtraAnejo.html">
                <button class="d-flex ml-auto" type="button" name="button">Siguiente <img src="../assets/icon/icon-next.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>

        <div class="container-fluid button-paginator bg-cheddaranejo  d-none text-white d-sm-block">
          <div class="row">
            <div class="col-2">
              <a href="../views/quesoMozzarella.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-previous-white.svg" alt="Anterior"></button>
              </a>
            </div>
            <div class="col-8 text-center">
              <p class="m-0">Queso Cheddar Añejo</p>
            </div>
            <div class="col-2 text-right">
              <a href="../views/quesoCheddarExtraAnejo.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-next-white.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-30 p-bottom-30">
        <div class="container">
          <div class="row">
            <div class="col-5 col-sm-12 text-center">
              <div class="row">
                <div class="col-2 d-sm-none"></div>
                <div class="col-10 col-sm-12">
                  <div class="p-bottom-30">
                    <img class="img-fluid" src="../assets/img/queso-navarro-cheddar-añejo-cintillo.png" alt="Queso">
                  </div>
                </div>
              </div>
              <div class="text-center presentaciones-queso p-bottom-30 p-top-30">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="m-0">PRESENTACIONES</h4>
                    </div>
                    <div class="col-12 p-top-20">
                      <p class="chico">Cuña 250g</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-bottom-30 container-leche-info">
                <div class="container text-center">
                  <div class="row">
                    <div class="col-4">
                      <img class="info-leche-conv" src="../assets/img/cofocalec-logo-color.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/100-natural.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/libre-de-gluten.png" alt="Leche info">
                    </div>
                    <div class="col-3 col-sm-1"></div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/sin-conservadores.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/fuente-de-calcio-y-proteínas.png" alt="Leche info">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subtitle title-padding text-cheddaranejo">
                      <h2>Queso Cheddar Añejo</h2>
                    </div>
                    <div class="section_text_info_queso">
                      <p>
                        Fabricado a la usanza tradicional inglesa durante cientos de años, este queso que ahora es producido en todo el mundo.
                      </p>
                      <p>
                        Hacemos un homenaje a este queso a través de una cuidadosa selección de piezas y permitimos
                        que se mantengan en maduración por un mínimo de 6 meses para reforzar sus características,
                        dando como resultado un queso elegante, aromático y complejo.
                      </p>
                      <p>
                        Nuestro Queso Cheddar Añejo NAVARRO es una obra maestra que se refinó en los Altos de Jalisco.
                      </p>
                      <p>
                        De pasta semidura, ligeramente quebradiza y ocasionalmente algo suave, su color es amarillo paja
                        y con aroma intenso de leche cocida, mantequilla, nueces, crema dulce y esporádicamente destellos
                        frutales a piña, así como a otros cítricos maduros. Al llegar al paladar, su cremosidad nos cubre la boca,
                        dejándonos un agradable y largo retrogusto.
                      </p>
                      <p>
                        Su versatilidad de uso lo hace ideal para comida dulce o salada, es excelente para fondue, para gratinar
                        y maridar con vinos. Es el compañero perfecto de nueces, almendras, mieles y aceite de oliva.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Ingredientes</h2>
                    </div>
                    <div class="section_text_info_ingredientes">
                      <p class="">Leche entera 100% fresca pasteurizada de vaca, sal, cuajo, cultivos lácticos y cloruro de clacio.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Usos</h2>
                    </div>
                    <div class="section_text_info_usos">
                      <video width="100%" height="300" controls="true">
                          <source src="../assets/media/QN_NOV_10.mp4" type="video/mp4">
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-sm-12 p-bottom-30">
              <div class="section_text_info_nutrimental">
                <div class="text-justify">
                  <div class="col-12 p-0">
                    <table class="composicion-table-information">
                      <tr class="azul">
                        <th colspan="5">Información nutrimental</th>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-top: 10px;"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3">
                          Tamaño de la porción: 30 gr
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr class="text-info-leche">
                        <td></td>
                        <td colspan="3">Cantidad por porción</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: normal;">
                          Contenido Enérgico: 507 kJ / 120 kcal
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Proteínas</td>
                        <td class="text-right" colspan="1">7 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Grasas</td>
                        <td class="text-right" colspan="1">10 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Grasas Saturadas</td>
                        <td class="text-right" colspan="1">4,5 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Carbohidratos</td>
                        <td class="text-right" colspan="1">2 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td><td colspan="2">Azúcares</td>
                        <td class="text-right" colspan="1">0 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Fibra dietética</td>
                        <td class="text-right" colspan="1">0 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Sodio</td>
                        <td class="text-right" colspan="1">112 mg</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" class="text-right">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          %IDS*
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Calcio</td>
                        <td class="text-right" colspan="1">25%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: 500;">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          *Porcentaje de la ingesta diario sugerida según la NOM-051-SCFI/SAA1-2010
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-bottom: 10px;"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Composición</h2>
                    </div>
                    <div class="text-justify">
                      <div class="col-12 p-0">
                        <table class="composicion-table">
                          <tr class="bg-cheddaranejo">
                            <th style="border-color: #878989">GRASA BUTÍRICA</th>
                            <th style="border-color: #878989">PROTEÍNA</th>
                            <th style="border-color: #878989">HUMEDAD</th>
                          </tr>
                          <tr>
                            <td style="border-color: #878989">Min. 25%</td>
                            <td style="border-color: #878989">Min. 22%</td>
                            <td style="border-color: #878989">Máx. 45%</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid bg-awards d-none d-sm-block">
          <div class="row">
            <div class="col-12">
              <div class="container p-bottom-70 p-top-70">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8">
                    <img class="img-fluid" src="../assets/img/world-cheese-awards-2018-2019-medalla-bronce-cheddar-añejo.png" alt="Medals">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards p-top-30 p-bottom-30">
          <div class="row">
            <div class="col-5 d-sm-none"></div>
            <div class="col-7 p-top-30 col-sm-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="section_title-awards text-awards">
                      <h2 class="mb-0">AWARDS</h2>
                    </div>
                    <div class="txt-wrd">
                      <p class="mb-0">
                        Cuando las cosas se hacen con pasión, los resultados son trascendentales.
                        En Quesos NAVARRO nuestra pasión por hacer queso y la búsqueda constante por el mejor sabor,
                        nos han llevado a ganar reconocimientos a nivel mundial.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards-medals p-bottom-30 p-top-30">
          <div class="row">
            <div class="col-5 d-sm-none">
              <div class="container p-top-20">
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8" style="position: relative;">
                    <img style="position: absolute; bottom: -99px;" class="img-fluid" src="../assets/img/world-cheese-awards-2018-2019-medalla-bronce-cheddar-añejo.png" alt="Medals">
                  </div>
                  <div class="col-2"></div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="section_medals-awards">
                      <h4>
                        Medalla de Bronce en los Word Cheese Awards 2018 en la categoría Mature traditional Cheddar sweeter flavor.
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards p-bottom-30 p-top-30">
          <div class="row">
            <div class="col-5 d-sm-none"></div>
            <div class="col-7 col-sm-12 text-white">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="text-justify txt-wrd">
                      <p class="mt-0">
                        Todos son reconocimientos que nos llenan de orgullo e inspiración,
                        porque en Quesos NAVARRO, sabemos hacer quesos de clase mundial.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <a href="../views/quesos.html">
        <div class="container-fluid bg-cheddaranejo">
          <div class="button-menu">
            <button class="btn-block bg-cheddaranejo text-center" type="button" name="button">Ver todos</button>
          </div>
        </div>
      </a>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/quesos.html">Quesos</a></li>
                  <li><a href="../views/recetas.html">Recetas</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="#">Consejos</a></li>
                  <li><a href="../views/wellness.html">Wellness</a></li>
                  <li><a href="../views/historia.html">Nosotros</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>


  </body>
</html>
