<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Queso Chihuahua</title>
    <link rel="icon" href="../assets/icon/favicon.ico">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu home-menu-n text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-white" href="../index.html">Inicio</a></li>
            <li><a class="text-white" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-white" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-white" href="../views/tips.html">Tips</a></li>
            <li><a class="text-white" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-white" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-white" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb-bco.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram-bco.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">

      <section class="paginator p-top-70 p-mobile-0">
        <div class="container d-sm-none">
          <div class="row">
            <div class="col-6">
              <a href="../views/quesoCabra.html">
                <button class="d-flex" type="button" name="button"><img src="../assets/icon/icon-previous.svg" alt="Anterior"> Anterior</button>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="../views/quesoGouda.html">
                <button class="d-flex ml-auto" type="button" name="button">Siguiente <img src="../assets/icon/icon-next.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>

        <div class="container-fluid button-paginator bg-chihuahua d-none text-white d-sm-block">
          <div class="row">
            <div class="col-2">
              <a href="../views/quesoCabra.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-previous-white.svg" alt="Anterior"></button>
              </a>
            </div>
            <div class="col-8 text-center">
              <p class="m-0">Queso Chihuahua</p>
            </div>
            <div class="col-2 text-right">
              <a href="../views/quesoGouda.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-next-white.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-30 p-bottom-30">
        <div class="container">
          <div class="row">
            <div class="col-5 col-sm-12 text-center">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                  <div class="p-bottom-30">
                    <img class="img-fluid" src="../assets/img/queso-navarro-chihuahua-cintillo.png" alt="Queso">
                  </div>
                </div>
              </div>
              <div class="text-center presentaciones-queso p-bottom-30 p-top-30">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="m-0">PRESENTACIONES</h4>
                    </div>
                    <div class="col-12 p-top-20">
                      <p class="chico">200g | 400g | 1kg | 2kg </p>
                    </div>
                    <div class="col-12 p-top-20">
                      <p class="chico">1kg Rallado</p>
                      <p class="chico">2.5kg Rallado</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-bottom-30 container-leche-info">
                <div class="container text-center">
                  <div class="row">
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/100-leche-fresca.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/100-natural.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/sin-conservadores.png" alt="Leche info">
                    </div>
                    <div class="col-3 col-sm-1"></div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/libre-de-gluten.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/fuente-de-calcio-y-proteínas.png" alt="Leche info">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subtitle title-padding text-chihuahua d-sm-none">
                      <h2 class="mb-0">Queso</h2>
                      <h2>Chihuahua</h2>
                    </div>
                    <div class="section_subtitle title-padding text-chihuahua d-none d-sm-block">
                      <h2>Queso Chihuahua</h2>
                    </div>
                    <div class="section_text_info_queso">
                      <p>
                        Un queso elaborado desde la época de la colonia Española, el “Queso Ranchero de Chihuahua”,
                        como originalmente se le conocía, está ligado a la migración de los Menonitas a México quienes
                        influyeron en su proceso y sabor.
                      </p>
                      <p>
                        Un queso que se produce tanto en esa región como en cualquier parte del país es de fácil adopción y
                        apreciación por el mercado mexicano.
                      </p>
                      <p>
                        De pasta prensada y consistencia semisuave, sin corteza, terso y cerrado, consistente y ligeramente
                        elástico. Su color es amarillo pálido a dorado. De media intensidad donde se marcan notas lácteas,
                        leche cocida. Su sabor es agradable y equilibrado, leche cocida y algo de mantequilla que se va acentuando
                        conforme madura. Con notas ligeramente ácidas y sin rastros amargos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Ingredientes</h2>
                    </div>
                    <div class="section_text_info_ingredientes">
                      <p class="">Leche entera fresca pasteurizada de vaca, sal, cuajo y cloruro de calcio.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Usos</h2>
                    </div>
                    <div class="section_text_info_usos">
                      <video width="100%" height="300" controls="true">
                          <source src="../assets/media/QN_NOV_10.mp4" type="video/mp4">
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-sm-12 p-bottom-30">
              <div class="section_text_info_nutrimental">
                <div class="text-justify">
                  <div class="col-12 p-0">
                    <table class="composicion-table-information">
                      <tr class="azul">
                        <th colspan="5">Información nutrimental</th>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-top: 10px;"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3">
                          Tamaño de la porción: 30 gr
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr class="text-info-leche">
                        <td></td>
                        <td colspan="3">Cantidad por porción</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: normal;">
                          Contenido Enérgico: 433 kJ / 104 kcal
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Proteínas</td>
                        <td class="text-right" colspan="1">6,1 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Grasas</td>
                        <td class="text-right" colspan="1">8,4 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Grasas Saturadas</td>
                        <td class="text-right" colspan="1">4,3 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Carbohidratos</td>
                        <td class="text-right">1,0 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td><td colspan="2">Azúcares</td>
                        <td class="text-right" colspan="1">0 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Fibra dietética</td>
                        <td class="text-right" colspan="1">0.2 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Sodio</td>
                        <td class="text-right" colspan="1">166 mg</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" class="text-right">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          %IDS*
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Calcio</td>
                        <td class="text-right" colspan="1">11%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: 500;">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          *Porcentaje de la ingesta diario sugerida según la NOM-051-SCFI/SAA1-2010
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-bottom: 10px;"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Composición</h2>
                    </div>
                    <div class="text-justify">
                      <div class="col-12 p-0">
                        <table class="composicion-table">
                          <tr class="bg-chihuahua">
                            <th style="border-color: #B1A89C">GRASA BUTÍRICA</th>
                            <th style="border-color: #B1A89C">PROTEÍNA</th>
                            <th style="border-color: #B1A89C">HUMEDAD</th>
                          </tr>
                          <tr>
                            <td style="border-color: #B1A89C">Min. 25%</td>
                            <td style="border-color: #B1A89C">Min. 20%</td>
                            <td style="border-color: #B1A89C">Máx. 48%</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <a href="../views/quesos.html">
        <div class="container-fluid bg-chihuahua">
          <div class="button-menu">
            <button class="btn-block bg-chihuahua text-center" type="button" name="button">Ver todos</button>
          </div>
        </div>
      </a>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="../index.html">Inicio</a>
                  </li>
                  <li>
                    <a href="../views/quesos.html">Quesos</a>
                  </li>
                  <li>
                    <a href="../views/recetas.html">Recetas</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li class="d-sm-none">
                    <a href="../views/wellness.html">Wellness</a>
                  </li>
                  <li>
                    <a href="../views/historia.html">Nosotros</a>
                  </li>
                  <li class="d-none d-sm-block">
                    <a href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6 d-sm-none">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb-bco.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram-bco.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="../views/politicasdeprivacidad.html">Términos y condiciones</a> / <a href="../views/politicasdeprivacidad.html">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
