<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Queso cotija</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-azul" href="../index.html">Inicio</a></li>
            <li><a class="text-azul" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-azul" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-azul" href="../views/tips.html">Tips</a></li>
            <li><a class="text-azul" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-azul" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-azul" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">

      <section class="paginator p-top-70 p-mobile-0">
        <div class="container d-sm-none">
          <div class="row">
            <div class="col-6">
              <a href="../views/quesoCheddarAnejo.html">
                <button class="d-flex" type="button" name="button"><img src="../assets/icon/icon-previous.svg" alt="Anterior"> Anterior</button>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="../views/giftpack.html">
                <button class="d-flex ml-auto" type="button" name="button">Siguiente <img src="../assets/icon/icon-next.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>

        <div class="container-fluid button-paginator bg-cotija  d-none text-white d-sm-block">
          <div class="row">
            <div class="col-2">
              <a href="../views/quesoCheddarAnejo.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-previous-white.svg" alt="Anterior"></button>
              </a>
            </div>
            <div class="col-8 text-center">
              <p class="m-0">Queso Cotija Añejo</p>
            </div>
            <div class="col-2 text-right">
              <a href="../views/giftpack.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-next-white.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-30 p-bottom-30">
        <div class="container">
          <div class="row">
            <div class="col-5 col-sm-12 text-center">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                  <div class="p-bottom-30">
                    <img class="img-fluid" src="../assets/img/queso-navarro-cotija-añejo-cintillo.png" alt="Queso">
                  </div>
                </div>
              </div>
              <div class="text-center presentaciones-queso p-bottom-30 p-top-30">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="m-0">PRESENTACIONES</h4>
                    </div>
                    <div class="col-12 p-top-20">
                      <p class="chico">Cuña 250g</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-bottom-30 container-leche-info">
                <div class="container text-center">
                  <div class="row">
                    <div class="col-4">
                      <img class="info-leche-conv" src="../assets/img/cofocalec-logo-color.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/100-natural.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/libre-de-gluten.png" alt="Leche info">
                    </div>
                    <div class="col-3 col-sm-1"></div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/sin-conservadores.png" alt="Leche info">
                    </div>
                    <div class="col-4">
                      <img class="info-leche-conh" src="../assets/img/fuente-de-calcio-y-proteínas.png" alt="Leche info">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subtitle title-padding text-cotija">
                      <h2>QUESO COTIJA AÑEJO </h2>
                    </div>
                    <div class="section_text_info_queso">
                      <p>
                        El Queso Cotija Añejo NAVARRO es uno de los quesos con más tradición de México,
                        su producción se limita a zonas específicas de Jalisco y Michoacán (sierra Jal-Mich) y
                        está presente en la gastronomía local, regional y nacional.
                      </p>
                      <p>
                        La recompensa de darle valor al tiempo está en nuestras piezas de 20kg,
                        las cuáles se añejan por al menos 12 meses para lograr su maduración de forma tradicional,
                        siguiendo estrictos controles de calidad.
                      </p>
                      <p>
                        El Queso Cotija Añejo NAVARRO es un tributo a esa tradición,
                        un producto excepcional para todo tipo de comida.
                      </p>
                      <p>
                        Es un queso duro, seco, de pasta granular y quebradiza, su color es Perla a amarillo pajizo,
                        vetas doradas dada su maduración. Con aroma intenso y penetrante a queso maduro y
                        algunos destellos florales. Su sabor es potente, marcado a sal, con toques ácidos
                        para coronar en el retrogusto y una persistencia prolongada y agradable.
                      </p>
                      <p>
                        Su versatilidad de uso lo hace ideal para comida dulce o salada,
                        es un gran acompañante en pastas y excelente para maridaje por contraste en vinos de postre.
                        Gran complemento en postres, principalmente con chocolate.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Ingredientes</h2>
                    </div>
                    <div class="section_text_info_ingredientes">
                      <p class="">Leche fresca de vaca, sal, enzimas y cloruro de calcio.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Usos</h2>
                    </div>
                    <div class="section_text_info_usos">
                      <video width="100%" height="300" controls="true">
                          <source src="../assets/media/QN_NOV_10.mp4" type="video/mp4">
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-sm-12 p-bottom-30">
              <div class="section_text_info_nutrimental">
                <div class="text-justify">
                  <div class="col-12 p-0">
                    <table class="composicion-table-information">
                      <tr class="azul">
                        <th colspan="5">Información nutrimental</th>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-top: 10px;"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3">
                          Tamaño de la porción: 30 gr
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr class="text-info-leche">
                        <td></td>
                        <td colspan="3">Cantidad por porción</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: normal;">
                          Contenido Enérgico: 449 kJ / 108 kcal
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Proteínas</td>
                        <td class="text-right" colspan="1">7,4 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Grasas</td>
                        <td class="text-right" colspan="1">7,9 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Grasas Saturadas</td>
                        <td class="text-right" colspan="1">3,0 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Carbohidratos</td>
                        <td class="text-right" colspan="1">1,9 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td><td colspan="2">Azúcares</td>
                        <td class="text-right" colspan="1">0 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Fibra dietética</td>
                        <td class="text-right" colspan="1">0 g</td>
                        <td></td>
                      </tr>
                      <tr><td colspan="5"></td></tr>
                      <tr><td colspan="5"></td></tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Sodio</td>
                        <td class="text-right" colspan="1">420 mg</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" class="text-right">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          %IDS*
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Calcio</td>
                        <td class="text-right" colspan="1">23%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: 500;">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          *Porcentaje de la ingesta diario sugerida según la NOM-051-SCFI/SAA1-2010
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-bottom: 10px;"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Composición</h2>
                    </div>
                    <div class="text-justify">
                      <div class="col-12 p-0">
                        <table class="composicion-table">
                          <tr class="bg-cotija">
                            <th style="border-color: #BC4E20">GRASA BUTÍRICA</th>
                            <th style="border-color: #BC4E20">PROTEÍNA</th>
                            <th style="border-color: #BC4E20">HUMEDAD</th>
                          </tr>
                          <tr>
                            <td style="border-color: #BC4E20">Min. 25%</td>
                            <td style="border-color: #BC4E20">Min. 20%</td>
                            <td style="border-color: #BC4E20">Máx. 45%</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid bg-awards d-none d-sm-block">
          <div class="row">
            <div class="col-12">
              <div class="container p-bottom-70 p-top-70">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/american-cheese-society-acs-2018-winner-primer-lugar-manchego.png" alt="Medals">
                  </div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/world-cheese-awards-2018-2019-silver-medalla-plata-manchego.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards p-top-30 p-bottom-30">
          <div class="row">
            <div class="col-5 d-sm-none"></div>
            <div class="col-7 p-top-30 col-sm-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="section_title-awards text-awards">
                      <h2 class="mb-0">AWARDS</h2>
                    </div>
                    <div class="txt-wrd">
                      <p class="mb-0">
                        Nuestro Queso Manchego NAVARRO nos llenó de orgullo en 2018 al ser galardonado a nivel mundial en dos
                        ocasiones, trayendo a casa dos medallas:
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards-medals p-bottom-30 p-top-30">
          <div class="row">
            <div class="col-5 d-sm-none">
              <div class="container p-top-20">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/american-cheese-society-acs-2018-winner-primer-lugar-manchego.png" alt="Medals">
                  </div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/world-cheese-awards-2018-2019-silver-medalla-plata-manchego.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="section_medals-awards">
                      <h4>
                        Primer lugar en la ACS Judging and  Competition en la categoría
                        Hispanic & Portuguese Chesses, Cooking Hispanic.
                      </h4>
                      <h4>
                        Medalla de plata en los Word Chesses Awards en la categoría Any
                        other semi-hard cow's milk chesse.
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards p-bottom-30 p-top-30">
          <div class="row">
            <div class="col-5 d-sm-none"></div>
            <div class="col-7 col-sm-12 text-white">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="text-justify txt-wrd">
                      <p class="mt-0">
                        Todos son reconocimientos que nos llenan de orgullo e inspiración, porque en Quesos NAVARRO, sabemos hacer
                        Quesos de clase mundial.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <a href="../views/quesos.html">
        <div class="container-fluid bg-cotija">
          <div class="button-menu">
            <button class="btn-block bg-cotija text-center" type="button" name="button">Ver todos</button>
          </div>
        </div>
      </a>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/quesos.html">Quesos</a></li>
                  <li><a href="../views/recetas.html">Recetas</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="#">Consejos</a></li>
                  <li><a href="../views/wellness.html">Wellness</a></li>
                  <li><a href="../views/historia.html">Nosotros</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>


  </body>
</html>
