<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Queso manchego</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-azul" href="../index.html">Inicio</a></li>
            <li><a class="text-azul" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-azul" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-azul" href="../views/tips.html">Tips</a></li>
            <li><a class="text-azul" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-azul" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-azul" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">

      <section class="paginator p-top-70 p-mobile-0">
        <div class="container d-sm-none">
          <div class="row">
            <div class="col-6">
              <a href="../views/quesoCheddar.html">
                <button class="d-flex" type="button" name="button"><img src="../assets/icon/icon-previous.svg" alt="Anterior"> Anterior</button>
              </a>
            </div>
            <div class="col-6 text-right">
              <a href="../views/quesoPanela.html">
                <button class="d-flex ml-auto" type="button" name="button">Siguiente <img src="../assets/icon/icon-next.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>

        <div class="container-fluid button-paginator bg-manchego  d-none text-white d-sm-block">
          <div class="row">
            <div class="col-2">
              <a href="../views/quesoCheddar.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-previous-white.svg" alt="Anterior"></button>
              </a>
            </div>
            <div class="col-8 text-center">
              <p class="m-0">Queso manchego</p>
            </div>
            <div class="col-2 text-right">
              <a href="../views/quesoPanela.html">
                <button class="mobile-button" type="button" name="button"><img src="../assets/icon/icon-next-white.svg" alt="Siguiente"></button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-30 p-bottom-30">
        <div class="container">
          <div class="row">
            <div class="col-5 col-sm-12 text-center">
              <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                  <div class="p-bottom-30">
                    <img class="img-fluid" src="../assets/img/queso-navarro-manchego-cintillo.png" alt="Queso">
                  </div>
                </div>
              </div>
              <div class="text-center presentaciones-queso p-bottom-30 p-top-30">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="m-0">PRESENTACIONES</h4>
                    </div>
                    <div class="col-12 p-top-20">
                      <p>200g | 400g | 1kg | 2kg | 5kg</p>
                    </div>
                    <div class="col-12 p-top-20">
                      <p>Rebanadas Molleteras 200g</p>
                      <p>Rallado 225</p>
                      <p>Rebanadas sándwich 400g</p>
                      <p>Rallado 2.5kg</p>
                    </div>
                    <div class="col-12 p-top-20">
                      <p>Mezcla Mozzarella-Manchego Cubicado 1kg</p>
                      <p>Mezcla Mozzarella-Manchego Cubicado 5kg</p>
                      <p>Mezcla Mozzarella-Manchego Premium 5kg</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="p-bottom-30 container-leche-info">
                <div class="container text-center">
                  <div class="row">
                    <div class="col-6">
                      <img class="info-leche-conv" src="../assets/img/logo-cofocalec.png" alt="Leche info">
                    </div>
                    <div class="col-6">
                      <img class="info-leche-conh" src="../assets/img/100-natural.png" alt="Leche info">
                    </div>
                    <div class="col-6">
                      <img class="info-leche-conh" src="../assets/img/100-leche-fresca.png" alt="Leche info">
                    </div>
                    <div class="col-6">
                      <img class="info-leche-conh" src="../assets/img/envasado-al-vacio.png" alt="Leche info">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subtitle title-padding text-manchego">
                      <h2>Queso Manchego</h2>
                    </div>
                    <div class="section_text_info_queso">
                      <p>
                        El Queso Manchego elaborado con leche de vaca es uno de los quesos de mayor consumo en
                        México debido a su sabor suave, versatilidad de uso y alta capacidad de fundido. Un elemento
                        básico en la gastronomía regional, nacional e internacional.
                      </p>
                      <p>
                        El Queso Manchego NAVARRO es de sabores agridulces, con matices de mantequilla y tonos
                        frutales. Tiene un aroma suave, a mantequilla y ligeramente salado. La textura es suave, bien
                        formada y uniforme. En la boca el Queso Manchego NAVARRO se puede percibir suave, tenso,
                        denso y aterciopelado. Se caracteriza por ser un queso muy facil de manejar, ya que se puede
                        rebanar y rallar a baja temperatura. Funde muy bien sin llegar a tostarse, por lo que si se llega a
                        dorar o gratinar obtendrá un color uniforme.
                      </p>
                      <p>
                        En cuanto a la versatilidad, el Queso Manchego NAVARRO se puede utilizar como botana,
                        fundido, gratinado o como un ingrediente que complementa practicamente cualquier receta  por
                        su sabor suave y equilibrado, dándole ese toque dulzón del cual es característico.
                      </p>
                      <p>
                        Este Queso combina con frutas, verduras, bocadillos de mermeladas y ates. Es ideal para
                        preparar salsa y aderezos. También es un buen ingrediente para hacer pizzas, cremas,
                        sándwiches, ensaladas, etc. Combina prácticamente con todos los platillos típico mexicanos
                        como los chicles rellenos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Ingredientes</h2>
                    </div>
                    <div class="section_text_info_ingredientes">
                      <p class="">Leche entera pasteurizada de vaca, sal, cultivos lácticos, cuajo y cloruros de calcio.</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Usos</h2>
                    </div>
                    <div class="section_text_info_usos">
                      <video width="100%" height="300" controls="true">
                          <source src="../assets/media/QN_NOV_10.mp4" type="video/mp4">
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 col-sm-12 p-bottom-30">
              <div class="section_text_info_nutrimental">
                <div class="text-justify">
                  <div class="col-12 p-0">
                    <table class="composicion-table-information">
                      <tr class="azul">
                        <th colspan="5">Información nutrimental</th>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-top: 10px;"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3">
                          Tamaño de la porción: 30 gr
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr class="text-info-leche">
                        <td></td>
                        <td colspan="3">Cantidad por porción</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: normal;">
                          Contenido Enérgico: 470 kg / 110 kcal
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Proteínas</td>
                        <td class="text-right" colspan="1">7 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Grasas</td>
                        <td class="text-right" colspan="1">9 g</td>
                        <td></td>
                      </tr>
                      <tr class="text-info-leche">
                        <td></td>
                        <td colspan="3">De las cuales:</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td><td colspan="2">Grasa saturada</td>
                        <td class="text-right" colspan="1">4 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Carbohidratos</td>
                        <td class="text-right" colspan="1">2,0 g</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Sodio</td>
                        <td class="text-right" colspan="1">240 mg</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" class="text-right">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          %IDS*
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="2">Calcio</td>
                        <td class="text-right" colspan="1">24%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td colspan="3" style="font-weight: 500;">
                          <hr style="border: 1.5px solid #002C54; margin: 5px;">
                          *Porcentaje de la ingesta diario sugerida según la NOM-051-SCFI/SAA1-2010
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td colspan="5" style="padding-bottom: 10px;"></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12  p-bottom-30">
                    <div class="section_subsubtitle">
                      <h2>Composición</h2>
                    </div>
                    <div class="text-justify">
                      <div class="col-12 p-0">
                        <table class="composicion-table">
                          <tr class="bg-manchego">
                            <th style="border-color: #E2485F">GRASA BUTÍRICA</th>
                            <th style="border-color: #E2485F">PROTEÍNA</th>
                            <th style="border-color: #E2485F">HUMEDAD</th>
                          </tr>
                          <tr>
                            <td style="border-color: #E2485F">Min. 25%</td>
                            <td style="border-color: #E2485F">Min. 20%</td>
                            <td style="border-color: #E2485F">Máx. 45%</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid bg-awards d-none d-sm-block">
          <div class="row">
            <div class="col-12">
              <div class="container p-bottom-70 p-top-70">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/american-cheese-society-acs-2018-winner-primer-lugar-manchego.png" alt="Medals">
                  </div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/world-cheese-awards-2018-2019-silver-medalla-plata-manchego.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards p-top-30 p-bottom-30">
          <div class="row">
            <div class="col-5 d-sm-none"></div>
            <div class="col-7 p-top-30 col-sm-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="section_title-awards text-awards">
                      <h2 class="mb-0">AWARDS</h2>
                    </div>
                    <div class="txt-wrd">
                      <p class="mb-0">
                        Nuestro Queso Manchego NAVARRO nos llenó de orgullo en 2018 al ser galardonado a nivel mundial en dos
                        ocasiones, trayendo a casa dos medallas:
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards-medals p-bottom-30 p-top-30">
          <div class="row">
            <div class="col-5 d-sm-none">
              <div class="container p-top-20">
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/american-cheese-society-acs-2018-winner-primer-lugar-manchego.png" alt="Medals">
                  </div>
                  <div class="col-5">
                    <img class="img-fluid" src="../assets/img/world-cheese-awards-2018-2019-silver-medalla-plata-manchego.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-7 col-sm-12">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <div class="section_medals-awards">
                      <h4>
                        Primer lugar en la ACS Judging and  Competition en la categoría
                        Hispanic & Portuguese Chesses, Cooking Hispanic.
                      </h4>
                      <h4>
                        Medalla de plata en los Word Chesses Awards en la categoría Any
                        other semi-hard cow's milk chesse.
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid bg-awards p-bottom-30 p-top-30">
          <div class="row">
            <div class="col-5 d-sm-none"></div>
            <div class="col-7 col-sm-12 text-white">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-12 text-white">
                    <div class="text-justify txt-wrd">
                      <p class="mt-0">
                        Todos son reconocimientos que nos llenan de orgullo e inspiración, porque en Quesos NAVARRO, sabemos hacer
                        Quesos de clase mundial.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <a href="../views/quesos.html">
        <div class="container-fluid bg-manchego">
          <div class="button-menu">
            <button class="btn-block bg-manchego text-center" type="button" name="button">Ver todos</button>
          </div>
        </div>
      </a>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../index.html">Inicio</a></li>
                  <li><a href="../views/quesos.html">Quesos</a></li>
                  <li><a href="../views/recetas.html">Recetas</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="#">Consejos</a></li>
                  <li><a href="../views/wellness.html">Wellness</a></li>
                  <li><a href="../views/historia.html">Nosotros</a></li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>


  </body>
</html>
