<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>QUESO ADOBERA</h2>

    <p>El Queso Adobera es un queso mexicano proveniente del occidente del pais, el cual es
      nombrado asi por la similitud de su forma a los ladrillos de adobe. Por tradición, es el queso de
      mayor consumo en Jalisco, ganándose esta predilección por la versatilidad que ofrese en la
      cocina del dia a dia.</p>
      <p>El Queso Adobera NAVARRO se caracteriza por ser de gusto suave equilibrado, de pasta tierna
        y granular. Su textura blanca permite que se desmorone y se ralle, pero tiene la firmeza
        suficiente para ser cubicado. Funde con facilidad. Conforme madura, su textura se vuelve más
        cremosa, uniforme y compacta, por lo que no se podrá desmoronar pero su capacidad de fundir
        aumentará. La suma de todas estas características hacen del Queso Adobera NAVARRO un
      ingrediente muy versátil y apreciado en la gastronimía regional.</p>
      <p>El Queso Adobera NAVARRO puede consumirse en frio, como botana, acompañamiento
        desmoronado o cubicado en sopas, frijoles, flautas o ensaladas. Tajado en sándwiches, tacos y
        quesadillas; rallado para preparar recetas que van rellenas; fundido en chilaquiles e infinidad de
        antojitos mexicanos típicos y contemporáneos. Particularmente, es adecuado para quesadillas
        ya que puede ser tajado en finas lajas y funde fácilmente.</p>
        <p>Su sabor equilibrado, ligeramente salado, permite que no se pierda al momento de combinarlo
          con salsas o guisos, sin competir con ellos, los complementa de una manera armónica.</p>
          <p>Es el ingrediente perfecto para la cocina regional que va desde lo senscillo hasta comidas mas
            elaboradas.</p>

            <h4>PRESENTACIONES</h4>
            <p>200g | 400g | 1kg | Duo Pack 800g | 1kg | 2kg</p>

            <h3>INGREDIENTES</h3>
            <p>Leche entera pasteurizada de vaca, sal, cultivos lácticos, cuajo y cloruros de calcio.</p>

            <table>
              <tr>
                <td>GRASA BUTÍRICA</td>
                <td>PROTEÍNA</td>
                <td>HUMEDAD</td>
              </tr>
              <tr>
                <td>Min. 25%</td>
                <td>Min. 20%</td>
                <td>Máx. 55%</td>
              </tr>
            </table>

            <h2>AWARDS</h2>

            <p>Nuestro Queso Manchego NAVARRO nos llenó de orgullo en 2018 al ser galardonado a nivel mundial en dos
              ocasiones, trayendo a casa dos medallas:</p>
              <h5>Tercer lugar en la categoría Hispanic & Portuguese Style Cheeses.
                En la American Cheese Society, judging and competition 2010,
                Wisconsin, USA.</h5>
                  <p>Todos son reconocimientos que nos llenan de orgullo e inspiración, porque en Quesos NAVARRO, sabemos hacer
                    Quesos de clase mundial.</p>
  </body>
</html>
