<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>QUESO PANELA</h2>
    <p>El Queso Panela es el queso fresco de mayor consumo en México, debido a su sabor y
      características es difícilmente substituible, convirtiéndose en un ingrediente básico en la
      gastronomía regional y nacional.</p>
      <p>El Queso Panela NAVARRO es de un gusto sumamente suave y fresco. Es un queso de pasta
        tierna de color blanco brillante. Por su alto contenido de humedad, tiende a liberar suero con
        facilidad, siendo este uun indicador de frescura y de ser un producto 100% natural. Se caracteriza
        por ser facilmente tajable por lo que se puede cubicar, mas no rallar o desmoronar. La
        aportación nutrimental del Queso Panela NAVARRO lo convierte en una buena opción para
        regímenes alimentarios que buscan una menor ingesta calórica.</p>
        <p>Se puede consumir fresco o bien asado u horneado. Existe gran variedad de recetas  que se
          prepararn con Queso Panela, donde generalmente es el ingrediente principal, como botanas,
          ensaladas, sopas y sándwiches. Tambien se pueden servir como acompañamiento o preparar
          con salsa y aderezos.</p>
          <p>Desde el desayuno hasta la cena, la practicidad de de uso que aporta, su sabor suave y su frescura,
            hacen de este queso un ingrediente que se adquiere y consume de manera diferenciada, sin
            sustitutos.</p>

            <h4>PRESENTACIONES</h4>
            <p>200g | 400g | 1kg | 750g | 2kg</p>
            <p>Panela Bajo en Grasa 400g</p>

            <h3>INGREDIENTES</h3>
            <p>Leche entera pasteurizada de vaca, sal, cuajo y cloruros de calcio.</p>

            <table>
              <tr>
                <td>GRASA BUTÍRICA</td>
                <td>PROTEÍNA</td>
                <td>HUMEDAD</td>
              </tr>
              <tr>
                <td>Min. 20%</td>
                <td>Min. 18%</td>
                <td>Máx. 58%</td>
              </tr>
            </table>

            <h2>AWARDS</h2>

            <p>Nuestro Queso Manchego NAVARRO nos llenó de orgullo en 2018 al ser galardonado a nivel mundial en dos
              ocasiones, trayendo a casa dos medallas:</p>
              <h5>Medalla Super Gold, en el Wolrd Cheese Awards 2017, Londres,
                Ingrlaterra y nombrado como el 12VO mejor queso del mundo.</h5>
                  <p>Todos son reconocimientos que nos llenan de orgullo e inspiración, porque en Quesos NAVARRO, sabemos hacer
                    Quesos de clase mundial.</p>
  </body>
</html>
