<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recetas</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="button">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/quesos.html">Quesos</a></li>
            <li><a href="../views/recetas.html">Recetas</a></li>
            <li><a href="../views/tips.html">Tips</a></li>
            <li><a href="../views/wellness.html">Wellness</a></li>
            <li><a href="../views/historia.html">Nosotros</a></li>
            <li><a href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="col-12 text-center">
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
          <a href="#"><button class="btn" style="background-color: transparent" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">
      <section class="p-top-10">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section_title text-center text-amarillo">
                <h2>Recetas</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="sub-text">
          <div class="container">
            <div class="row">
              <div class="col-3 d-sm-none"></div>
              <div class="col-6 col-sm-12 text-center">
                <p>
                  El queso es el ingrediente perfecto. Ya sea combinado, partido o derretido, el queso es
                  extraordinario saliendo del horno, gratinando los aromas y saboras de las comidas, o como el
                  acompañamiento fresco de una ensalada con frutas y aderezos.
                </p>
                <p>Los quesos Navarro son el elemento que convierten una comida en una experiencia sin igual.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-7 d-sm-none"></div>
            <div class="col-5 col-sm-12">
              <form class="search-form page-search">
                <div class="form-group">
                  <label for="search" class="sr-only"></label>
                  <input class="form-control search-field" type="text" placeholder="">
                </div>
                <button type="button" class="btn btn-default search-submit" name="button">
                  <img src="../assets/icon/icon-search.svg" alt="">
                </button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Inicio</a>
                  </li>
                  <li>
                    <a href="#">Quesos</a>
                  </li>
                  <li>
                    <a href="#">Recetas</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li>
                    <a href="#">Wellness</a>
                  </li>
                  <li>
                    <a href="#">Nosotros</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="col-12 p-0">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-fb.svg" alt="facebook"></button></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><button class="btn azul" type="button"><img class="img-fluid" src="../assets/icon/icon-instagram.svg" alt="instagram"></button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p>
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="#">Términos y condiciones</a> / <a href="#">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
