<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tips</title>
    <link rel="icon" href="../assets/icon/favicon.ico">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!-- Header -->
    <section class="intro-area-two">
      <section class="header header--8">
        <div class="menu_area menu8">
          <div class="container">
            <div class="navbar">
              <a class="navbar-brand" href="../index.html">
                <img class="d-sm-none" src="../assets/img/quesos-navarro-logo-nosotros.png" width="70px" height="auto" alt="Logo">
                <img class="img-fluid d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" name="buttonMenu">
                <span>
                  <img id="spanMenu" name="spanMenu" class="img-fluid" src="../assets/icon/icon-menu.svg" alt="menu">
                  <img id="spanMenu2" name="spanMenu2" class="img-fluid" src="../assets/icon/icon-closed-menu.svg" alt="menu" hidden>
                </span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div id="list-menu" class="col-4 col-sm-12 list-menu home-menu-n text-center" hidden>
        <div class="col-12 d-none d-sm-block">
          <form class="search-form">
            <div class="form-group">
              <label for="search" class="sr-only"></label>
              <input class="form-control search-field" type="text" placeholder="">
            </div>
            <button type="button" class="btn btn-default search-submit" name="button">
              <img src="../assets/icon/icon-search.svg" alt="buscar">
            </button>
          </form>
        </div>
        <div class="col-12">
          <ul class="p-0">
            <li><a class="text-white" href="../index.html">Inicio</a></li>
            <li><a class="text-white" href="../views/quesos.html">Quesos</a></li>
            <li><a class="text-white" href="../views/recetas.html">Recetas</a></li>
            <li><a class="text-white" href="../views/tips.html">Tips</a></li>
            <li><a class="text-white" href="../views/wellness.html">Wellness</a></li>
            <li><a class="text-white" href="../views/historia.html">Nosotros</a></li>
            <li><a class="text-white" href="../views/contacto.html">Contacto</a></li>
          </ul>
        </div>
        <div class="menu_media col-12 text-center">
          <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb-bco.svg" alt="facebook"></a>
          <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram-bco.svg" alt="instagram"></a>
        </div>
      </div>
    </section>

    <!-- Page content -->
    <section class="page--content">
      <section class="">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="section_title text-center text-amarillo">
                <h2>Tips</h2>
              </div>
            </div>
            <div class="col-12">
              <img class="img-fluid" src="../assets/img/banner-tips.png" alt="Tips">
            </div>
          </div>
        </div>
      </section>

      <section class="p-top-70 p-bottom-70 container_cuidados_queso">
        <div class="container">
          <div class="row">
            <div class="col-8 col-sm-12 tips-content p-bottom-70">
              <div class="section_subtitle-tips text-amarillo">
                <h2>Cuidados del queso</h2>
              </div>
              <div class="row">
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">01.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Para mantener el sabor del queso, es recomendable guardarlo en el compartimiento de las verduras,
                        envuelto en su envase de origen, en una bolsa resellable o con papel film.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">02.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Se recomienda refrigerar el queso a una temperatura baja para conservarlo por más tiempo.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">03.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Para congelar el queso, se aconseja partirlo en diferentes porciones para solo consumir lo que se necesite por ocasión.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">04.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Se sugiere no guardar el queso con otros alimentos de olor fuerte, para evitar que absorba otros aromas y pierda calidad.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">05.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Los quesos nunca deben ser colocados en la puerta del refrigerador, esto para evitar
                        su exposicion a fuertes cambios de temperatura.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr style="background-color: #ccc; margin-top: 50px">
              <div class="section_subsubtitle-tips text-amarillo">
                <h2>Recomendaciones de consumo</h2>
              </div>
              <div class="row">
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">01.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Los quesos deben sacarse del refrigerador entre 20-30 minutos antes de consumirse para
                        atemperarse y poder aceptar todas sus propiedades.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">02.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Idealmente, un queso nunca se debe servir frío, ya que la baja temperatura esconde los aromas y
                        lso sabores naturales en los quesos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">03.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        En una tabla de quesos, sitúa los quesos suaves en las orillas y los fuertes en el centro para ir de acuerdo el
                        el sabor y propiedad de cada queso.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">04.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        El queso y la fruta forman el mejor postre, gracias a su potencual nutrimental y su gran sabor al combinarlos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">05.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        Se recomienda usar un cuchillo para cada queso con el objetivo de evitar la mezcla de sabores.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">06.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        El queso, por su alto porcentaje de proteínas, calcio y vitaminas se recomienda en la mayoría de las dietas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr style="background-color: #ccc; margin-top: 50px">
              <div class="section_subsubtitle-tips text-amarillo">
                <h2>Sabores y texturas</h2>
              </div>
              <div class="row">
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">01.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        La textura de un queso nos puede hablar de su sabor. Los quesos suaves suelen ser frescos
                        y con sabores no tan fuertes, mientras que los quesos durons suelen ser salados y de sabores intensos.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">02.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        La forma en cómo se parte un queso depende de su forma y textura.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12 p-top-10">
                  <div class="row">
                    <div class="col-1 col-sm-2">
                      <span class="number-tips">03.</span>
                    </div>
                    <div class="col-11 col-sm-10">
                      <p class="m-0">
                        La mejor forma de catar un queso, es a través del gusto, el olfato, el tacto y la vista.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <section class="p-top-70">
                <div class="container w-100">
                  <div class="row">
                    <div class="col-12 text-right">
                      <div class="pagination">
                        <a href="#"><img class="icon-paginator" src="../assets/icon/icon-previous-doble.svg" alt="Previous"> Anterior</a>
                        <a href="#">1</a>
                        <a href="#" class="active">2</a>
                        <a href="#" class="disabled">...</a>
                        <a href="#">3</a>
                        <a href="#">Siguiente <img class="icon-paginator" src="../assets/icon/icon-next-doble.svg" alt="Next"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>

            <div class="col-4 col-sm-12">
              <div class="container w-100">
                <div class="row">
                  <div class="col-12 p-bottom-30">
                    <div class="azul text-white text-center text-art-title">
                      <p class="m-0 fw-600">Artículos Relacionados</p>
                    </div>
                  </div>
                  <div class="col-12 p-top-10">
                    <div class="art-card">
                      <div class="media-art">
                        <img class="img-fluid" src="../assets/img/articulo-1.png" alt="">
                      </div>
                      <div class="content-art">
                        <div class="art-card_subsubtitle">
                          <h2 class="mb-0">Certezas Lácteas</h2>
                          <p>
                            Desde hace más de 7,500 años, los lácteos han formado parte de la dieta
                            de los seres humanos, a pesar de eso, últimamente se les ha categorizado de innecesarios.
                          </p>
                        </div>
                      </div>
                      <div class="art-footer text-right">
                        <div class="button-art">
                          <p class="mt-0"><a href="../views/certezasLacteas.html">Leer más</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 p-top-10">
                    <div class="art-card">
                      <div class="media-art">
                        <img class="img-fluid" src="../assets/img/articulo-2.png" alt="">
                      </div>
                      <div class="content-art">
                        <div class="art-card_subsubtitle">
                          <h2 class="mb-0">Todo el sabor</h2>
                          <p>
                            No sería justo suprimir los productos lácteos de nuestra vida por el hecho de ser intolerantes,
                            por eso te compartimos algunos tips para contorlar la intolerancia.
                          </p>
                        </div>
                      </div>
                      <div class="art-footer text-right">
                        <div class="button-art">
                          <p class="mt-0"><a href="#">Leer más</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 p-top-10">
                    <div class="art-card">
                      <div class="media-art">
                        <img class="img-fluid" src="../assets/img/articulo-3.png" alt="">
                      </div>
                      <div class="content-art">
                        <div class="art-card_subsubtitle">
                          <h2 class="mb-0">Nutrición</h2>
                          <p>
                            Las proteínas de la leche y del queso tienen un valor biológico alto y contiene muchos aminoácidos
                            esenciales.
                          </p>
                        </div>
                      </div>
                      <div class="art-footer text-right">
                        <div class="button-art">
                          <p class="mt-0"><a href="#">Leer más</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>

    <footer class="azul">
      <div class="footer__big">
        <div class="container">
          <div class="row">
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="../index.html">Inicio</a>
                  </li>
                  <li>
                    <a href="../views/quesos.html">Quesos</a>
                  </li>
                  <li>
                    <a href="../views/recetas.html">Recetas</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="#">Consejos</a>
                  </li>
                  <li class="d-sm-none">
                    <a href="../views/wellness.html">Wellness</a>
                  </li>
                  <li>
                    <a href="../views/historia.html">Nosotros</a>
                  </li>
                  <li class="d-none d-sm-block">
                    <a href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-1 col-sm-6 d-sm-none">
              <div class="widget widget--links">
                <ul class="links">
                  <li>
                    <a href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-6"></div>
            <div class="col-3 col-sm-12">
              <div class="widget text_widget text-right">
                <img class="footer_logo d-sm-none" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <img class="footer_logo2 d-none d-sm-block" src="../assets/img/logo-quesos-navarro-quesos-de-los-altos-de-jalisco.png" alt="Logo">
                <div class="footer_media">
                  <a target="_blank" href="https://www.facebook.com/QuesosNavarro/"><img class="img-fluid" src="../assets/icon/icon-fb-bco.svg" alt="facebook"></a>
                  <a target="_blank" href="http://instagram.com/quesosnavarro"><img class="img-fluid" src="../assets/icon/icon-instagram-bco.svg" alt="instagram"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__bottom-content">
                <p class="m-0">
                  Copyright © Quesos Navarro. Todos los Derechos Reservados
                </p>
                <div class="social-basic">
                  <ul class="d-flex justify-content">
                    <li><a href="../views/politicasdeprivacidad.html">Términos y condiciones</a> / <a href="../views/politicasdeprivacidad.html">Políticas de privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
